{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
  	"no-underscore-dangle": "off",
  	"react/no-danger": "off",
    "no-plusplus": "off",
  }
}
