$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import 'styles/media-queries';
@import 'styles/home';
@import 'styles/registration';
@import 'styles/nav';
@import 'styles/logout';
@import 'styles/profile';
@import 'styles/posts';
@import 'styles/react-table';
@import 'styles/autosuggest';
@import 'styles/connectionresult';
@import 'styles/connections';
@import 'styles/post-view';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* a subtle focus style for keyboard-input elements */
input:focus {
  border: 1px solid #aaa;
}

/* no focus style for non-keyboard-inputs elements */
button:focus,
select:focus {
  outline: none;
}

/* and for keyboard users, override everything with
   a Big Blue Border when focused on any element */
body.user-is-tabbing *:focus {
  border: 2px solid #7AACFE !important; /* for non-webkit browsers */
  border: 5px auto -webkit-focus-ring-color !important;
}

.main {
  background: -webkit-linear-gradient(to bottom, #22c1c3, #fdbb2d);
  background: linear-gradient(to bottom, #22c1c3, #fdbb2d);
  height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	background: #22c1c3;
	background: -webkit-linear-gradient(to bottom, #22c1c3, #fdbb2d);
	background: linear-gradient(to bottom, #22c1c3, #fdbb2d);
  height: 100%;
	height: calc(100vh - 59px);
  padding: 60px 0;
  overflow-y: scroll;
}

.title {
	color: white;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.63);
  font-weight: 100;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: lowercase;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.error {
    font-family: 'Alegreya Sans', sans-serif;
    color: #a94442;
    background-color: #f2dede;
    font-size: 1.2em;
    font-weight: 100;
    margin: 15px auto;
    border: 1px solid #a94442;
    padding: 7px;
    border-radius: 3px;
    transition: opacity .15s linear;
    text-align: center;
  }

.success {
    font-family: 'Alegreya Sans', sans-serif;
    color: #3c763d;
    background-color: #dff0d8;
    font-size: 1.2em;
    font-weight: 100;
    margin: 15px auto;
    border: 1px solid #3c763d;
    padding: 7px;
    border-radius: 3px;
    transition: opacity .15s linear;
    text-align: center;
  }
