$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import 'styles/media-queries';
@import 'styles/home';
@import 'styles/registration';
@import 'styles/nav';
@import 'styles/logout';
@import 'styles/profile';
@import 'styles/posts';
@import 'styles/react-table';
@import 'styles/connectionresult';
@import 'styles/connections';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	background: #22c1c3;
	background: -webkit-linear-gradient(to bottom, #22c1c3, #fdbb2d);
	background: linear-gradient(to bottom, #22c1c3, #fdbb2d);
  height: 100%;
	min-height: 100vh;
  padding: 60px 0;
}

.title {
	color: white;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.63);
  font-weight: 100;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: lowercase;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
