@import 'styles/media-queries';
@import 'styles/vars';
@import 'styles/home';
@import 'styles/registration';
@import 'styles/nav';
@import 'styles/logout';
@import 'styles/profile';
@import 'styles/posts-grid';
@import 'styles/autosuggest';
@import 'styles/connectionresult';
@import 'styles/connections';
@import 'styles/post-full';
@import 'styles/post-thumb';
@import 'styles/mentorpath';
@import 'styles/spinner';
@import 'styles/modal';
@import 'styles/view-profile';
@import 'styles/connectiondetails';
@import 'styles/shuffle.scss';
@import 'styles/validate';
@import 'styles/user-admin';
@import 'styles/tour';
@import 'styles/notfound';
@import 'styles/footer';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* a subtle focus style for keyboard-input elements */
input[type="text"]:focus,
textarea:focus {
  box-shadow: inset 0 0 .2em $color_aqua, 0 0 .5em $color_focus_ring !important;
}

/* no focus style for non-keyboard-inputs elements */
button:focus,
select:focus {
  outline: none;
}

/* and for keyboard users, override everything with
   a border when focused on any element */
body.user-is-tabbing *:focus {
  box-shadow: inset 0 0 .2em $color_aqua, 0 0 1em $color_focus_ring !important;
}

/* fake focus class for elements like labels of custome-styled buttons that hide html inputs */
.fake-focus {
  box-shadow: inset 0 0 .2em $color_aqua, 0 0 1em $color_focus_ring !important;
}

.app-root {
  background: -webkit-linear-gradient(to top, $color_aqua, $color_sky);
  background: linear-gradient(to top, $color_aqua, $color_sky);
  background: url(./img/splash_pfl.svg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // height: 100%;
  // height: 100vh;
}

.container {
	display: flex;
  flex-direction: column;
	justify-content: center;
	background: $color_aqua;
	background: -webkit-linear-gradient(to top, $color_aqua, $color_sky);
	background: linear-gradient(to top, $color_aqua, $color_sky);
  min-height: 100vh;
	height: 100%;
  padding: 60px 0 0 0;
}

.main {
  height: 100%;
  min-height: 100vh;
}

.title {
	color: white;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.63);
  font-weight: 100;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: lowercase;
}

// visible to screenreader only
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

// use when you need to wrap an interactive element in a <button> element to enable keypress behavior and WAI-ARIA roles but don't want default browser button styling
//
.aria-button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;

  &:hover, &:active, &:focus {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
  }
}

.error {
    font-family: 'Alegreya Sans', sans-serif;
    color: $color_error_text;
    background-color: $color_error_bkg;
    font-size: 1.2em;
    font-weight: 300;
    margin: 15px auto;
    border: 1px solid $color_error_text;
    padding: 7px;
    border-radius: 3px;
    transition: opacity .15s linear;
    text-align: center;
  }

  input:focus:invalid {
    border: 1px solid red;
  }

.success {
    font-family: 'Alegreya Sans', sans-serif;
    color: $color_success_text;
    background-color: $color_success_bkg;
    font-size: 1.2em;
    font-weight: 300;
    margin: 15px auto;
    border: 1px solid $color_success_text;
    padding: 7px;
    border-radius: 3px;
    transition: opacity .15s linear;
    text-align: center;
  }

.unstyled-link {
    color: inherit;
    text-decoration: none;
  }

.hidden {
    display: none !important;
  }

.visible {
  display: block !important;
}

.character-count {
  text-align: right;
  font-family: 'Alegreya Sans', sans-serif;
  color: $color_gray_text;

}

.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;

    &:active, &:focus, &:hover {
      left: 10px;
      top: 10px;
      width: auto;
      height: auto;
      overflow: visible;
      padding: 7px 10px;
      border-radius: 20px;
      appearance: none;
      -webkit-appearance: none;
      background: $color_sky;
      z-index: 100;
      border: 1px solid white;
      color: white;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      letter-spacing: 2px;
      font-size: 1.2em;

      & i {
        font-size: .8em;
      }

    }
}
