.conn-details {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  background: rgba(255,255,255,.3);
  border-radius: 4px;
  margin-bottom: 20px;

  &__preview {
    width: 100%;
    margin: 0 auto;
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;

    @include for-tablet-portrait-up {
        width: 80%;
        padding: 10px 10px 20px 10px;
      }

    @include for-tablet-landscape-up {
      width: 60%;
    }
  }

  &__avatars {
    display: flex;
    flex-direction: row;
  }

  &__default-avatar {
    font-size: 130px;
  }

  &__msg {
    width: 100%;
    height: 2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: 300;
    color: white;
    padding-top: 20px;
    border-top: 1px white dotted;
    margin-top: 20px;
    text-align: center;
  }

   &__image-wrap {
      width: 100%;
      padding: 10px;
      flex-basis: 40%;
      text-align: center;
      }

  &__image-aspect{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    @include profile-card-breakpoint {
      width: 50%;
      padding-bottom: 50%;
      margin: 0 auto;
      }
  }

  &__image-crop {
    width: 100%;
    border-radius: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid rgba(255,255,255,.9);
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &__image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0 auto;

  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__header-wrap {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  &__table {
    background: rgba(255, 255, 255, 0.75);
    margin: auto;
    border-collapse: collapse;
    @include for-phone-landscape-up {
      border-radius: 10px;
    }
  }

  &__thead{
    border-bottom: 1px dotted $color_gray_darker;
  }

  &__tr {
    border-bottom: 1px dotted $color_gray_darker;

    &:last-child {
      border-bottom: 0;
    }

    &:last-child > .conn-details__td {
      padding-bottom:20px;
    }
  }

  &__th {
    color: $color_gray_darker;
    font-weight: 400;
    font-size: 1.2em;
    padding-top:10px;
    width: 50%;

    @include for-phone-landscape-up {
      padding: 15px;
      padding-top:20px;
    &:first-child {
        padding-left:30px;
      }
    &:last-child {
        padding-right:30px;
      }
    }
  }

  &__td {
    font-family: 'Alegreya Sans', sans-serif;
    color: $color_gray_darker;
    font-weight: 400;
    padding: 15px;
    border: none;
    &:first-child {
      @include for-phone-landscape-up {
        padding-left:30px;
      }
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      letter-spacing: 2px;
    }
    &:last-child {
      @include for-phone-landscape-up {
        padding-right:30px;
      }
    }
  }

  &__link  , &__link:visited {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted $color_gray_darker;

    &:hover, &:active, &:focus {
      color: $color_aqua;
      border-bottom: 1px dotted $color_aqua;
      }
  }

  &__title {
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 100;
    margin: -10px 0 10px 0;
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }

  &__header {
    flex: 0 0  auto;
    font-size: 1.6em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: 400;
  }

  &__text {
    flex: 0 0 auto;
    font-size: 16px;
    font-weight: 300;

    @include for-tablet-landscape-up {
      font-size: 1.4em;
      margin: 10px 0;
    }

    &--bold {
      font-weight: 400;
    }
  }

  &__text--body {
    padding: 10px 0 30px 0;
    white-space: pre-wrap;
    font-size: 1.5em;
  }

  &__btn-wrap {
  margin: 20px auto 0 auto;
  z-index: 5;
  width: 100%;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  list-style: none;
}
  &__item {
    margin: 0 10px;
  }

  &__item-link {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 7px 12px;
    letter-spacing: 2px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: $color_sky;

    &:hover, &:focus {
      background: $color_aqua;
      color: rgba(255, 2555, 255, 1);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transition: box-shadow 300ms ease-in-out;
    }
  }
}
