.conn-details {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  background: rgba(255,255,255,.3);
  border-radius: 4px;
  margin-bottom: 20px;

  &__avatars {
    display: flex;
    flex-direction: row;
  }

  &__default-avatar {
    font-size: 130px;
  }

  &__msg {
    width: 100%;
    height: 2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: 300;
    color: white;
    padding-top: 20px;
    border-top: 1px white dotted;
    margin-top: 20px;
    text-align: center;
  }

  &__image {
    border-radius: 100%;
    width: 130px;
    max-width: 100%;
    height: auto;
    border: 1px solid rgba(255,255,255,.5);
  }

  &__icon {
    height: 100%;
    width: auto;
    color: rgba(255,255,255,.4);
  }

  &__image-wrap {
    text-align: center;
    width: 50%;
    height: auto;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__header-wrap {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  &__title {
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 100;
    margin: -10px 0 10px 0;
    border-bottom: 1px dotted rgba(255,255,255,.6);
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }

  &__header {
    flex: 0 0  auto;
    font-size: 1.6em;
    font-weight: 400;
    padding-left: 3px;
  }

  &__text {
    flex: 0 0 auto;
    font-size: 1.6em;
    font-weight: 300;
    padding-left: 3px;

    @include for-tablet-landscape-up {
      font-size: 1.4em;
      margin: 10px 0;
    }

    &--bold {
      font-weight: 400;
    }
  }

  &__text--body {
    padding: 10px 0 30px 0;
    white-space: pre-wrap;
    font-size: 1.5em;
  }

}
