.splash {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  background: #6B559D;
  background: -webkit-linear-gradient(to top, #6B559D, #151741);
  background: linear-gradient(to top, #6B559D, #151741);

  &__image {
      height: 125vh;
      background: url(./img/splash.svg) no-repeat top center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    @include for-desktop-up {
      background: url(./img/splash_wide.svg) no-repeat top center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

  }
  &__wrapper {
    width: 100%;
    position: absolute;
    top: 35%;

    @include for-tablet-portrait-up {
      top: 27%;
    }
    @include for-desktop-up {
      top: 25%;
    }

  }
  &__text-wrap {

  }

  &__headline {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.63);
    font-weight: 100;
    font-size: 20vw;
    margin: 0 auto;
    @include for-desktop-up {
      font-size: 200px;
    }
    @include for-big-desktop-up {
      font-size: 250px;
    }


  }
  &__subhead {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.63);
    font-weight: 100;
    font-size: 5vw;
    letter-spacing: 2px;
    margin: -3vw auto;
    @include for-tablet-landscape-up {
      margin: -30px auto;
    }
    @include for-desktop-up {
      margin: -55px auto;
      font-size: 75px;
    }
  }
  &__button-wrap {
    width: 100%;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include for-tablet-portrait-up{
      flex-wrap: nowrap;
    }

    @include for-desktop-up {
      top: 72%;
    }
    @include for-big-desktop-up {
      top: 65%;
    }
  }
  &__button {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    margin-right: 3vw;
    font-weight: 100;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid white;

    @include for-tablet-portrait-up {
      padding: 20px;
      border: 2px solid white;
      font-size: 20px;
    }

    &:hover, &:active, &:focus {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
    }
  }

  &__overlay {
      position: relative;
      display: flex;
      justify-content: center;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      background: #0e76bc;
      background: -webkit-linear-gradient(top, #0e76bc, #5ebcab);
      background: linear-gradient(to bottom, #0e76bc, #5ebcab);
      padding: 30px 0;
      min-height: 25vh;

    }

  &__body {
    width: 150%;
    height: auto;
    margin: auto;
    font-weight: 100;
    &--spaced {
      letter-spacing: 2.5px;
    }
    @include for-phone-landscape-up {
      font-size: 1.2em;
      width: 80%;
    }
    @include for-tablet-landscape-up {
      font-size: 2em;
      width: 80%;
    }
    @include for-desktop-up {
      max-width: 50%;
    }

  }

  &__bracket--l {
      background: url(./img/bracket.svg) no-repeat right top;
      width: 100%;
    }

  &__bracket--r {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    background: url(./img/bracket.svg) no-repeat right top;
    width: 100%;
    }

}
