.logout {
  font-family: 'Alegreya Sans', sans-serif;
  flex-direction: column;

  &__header {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 30px;
    text-align: center;
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }
}
