.modal {
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0,0,0,.6);
  border-radius: 6px;
  padding: 25px;
  background-color: #eee;
  z-index: 20;
  font-family: 'Alegreya Sans', sans-serif;

  &__hide {
    display: none;
  }
  &__show {
    display: block;
  }
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
