.h-nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  z-index: 5;
  width: 100%;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  justify-content: flex-start;
  height: 30px;
  list-style: none;

  &__side {
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    margin-left: 0;
    }
  &__side-bkg {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    min-height: 60px;
  }
  &__side-bkg-noscroll {
    background: $color_sky;
    background: -webkit-linear-gradient(to top, $color_aqua, $color_sky);
    background: linear-gradient(to top, $color_aqua, $color_sky);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }
  &__icon {
      height: 14px;
      width: 16px;
      left: 36px;
      top: 23px;
      cursor: pointer;
      position: absolute;
      z-index: 100;
      border: 0;
      background: transparent;
      color: transparent;

      @include mobile-nav-breakpoint {
          display: none;
      }

      &:focus {
          outline-width: 0px;
      }
    }

  &__bar {
    position: absolute;
    width: 16px;
    height: 2px;
    border-radius: 1px;
    background-color: rgba(255,255,255,.7);
    transition: all 300ms ease-in-out;

    &--top {
        top: 0;
    }

    &--top-active {
            transform-origin: bottom left;
            transform: rotate(45deg);
    }

    &--mid {
        top: 50%;
        transform: translateY(-50%);
    }

    &--mid-active {
            opacity: 0;
    }

    &--bot {
        bottom: 0;
    }

    &--bot-active {
            transform-origin: top left;
            transform: rotate(-45deg);
    }
    }

  &__avatar {
    display: none;

    @include mobile-nav-breakpoint {
      display: block;
      position: absolute;
      right: 22px;
      top: 11px;
      z-index: 30;
    }
  }

  &__inbox {
    display: block;
    position: absolute;
    right: 40px;
    top: 12px;
    z-index: 30;
    font-size: 1.5em !important;
    color: white !important;
    @include mobile-nav-breakpoint {
      right: 85px;
      top: 15px;
    }
      &--active {
        background-color: transparent !important;
        color: white !important;
      }

      &--icon {
        position: relative;
      }

      &--badge {
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 700;
        background-color: $color_error_text;
        border-radius: 100%;
        color: white;
        padding: 2px 3px;
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 0;
      }
  }

  &__image-aspect {
      width: 40px;
      height: 40px;
      position: relative;
      margin-right: 10px;
  }


  &__image-crop {
      width: 100%;
      border-radius: 100%;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }

    &__image {
      min-width: 100%;
      min-height: 100%;
      height: auto;
      margin: 0 auto;

    }

  &__item {
      padding: 10px 0;
      width: 100%;

      &:hover, &:focus {
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 300ms ease-in-out;
      }

    }

  &__item-menu {
    margin: 13px 0 0 20px;
    width: 110px;
    border-radius: 40px;
    padding: 3px 10px 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;

        &:hover, &:focus {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 300ms ease-in-out;
      }

    &--open {
      margin: 13px 0 0 20px;
      width: 40px;
      border-radius: 40px;
      padding: 3px 10px 5px 10px;
      cursor: pointer;

    }


  }

  &__menuspan {
    color: rgba(255,255,255,1);
    width: 56px;

    &--open {
    color: rgba(255,255,255,0);
    width: 56px;
    }
  }

  &__item-link {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 3px;
    padding: 5px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid transparent;
    width: 100vw;
    padding: 20px;
    margin-left: 13px;

    @include for-tablet-portrait-up {
      font-weight: 400;
      font-size: 24px;
    }

      &--login {

        @include mobile-nav-breakpoint {
          position: absolute;
          right: 30px;
          top: 20px;
        }
      }

      &:hover, &:focus {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      }

      &--logout {

        @include mobile-nav-breakpoint {
        display: none;
      }
      }

      &--menu {
        color: white;
        font-family: 'Alegreya Sans SC', sans-serif;
        text-transform: lowercase;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        padding: 0 0 0 30px;

        &-open {
          color: white;
          font-family: 'Alegreya Sans SC', sans-serif;
          text-transform: lowercase;
          letter-spacing: 2px;
          font-size: 20px;
          font-weight: 700;
          text-decoration: none;
          padding: 0 0 0 30px;
        }
      }
    }

  &__nav {
    position: relative;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    pointer-events: none;
    z-index: 50;

    &--side {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 300ms ease-in;
      margin-top: -40px;
      padding: 60px 0 27px 0;

    }
    &--hidden {
      opacity: 0;
    }
  }

  @include mobile-nav-breakpoint {

    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0;
    z-index: 5;
    width: 100vw;
    font-weight: 300;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    list-style: none;

    &__item-menu {
      display: none;
    }

    &__side-bkg {
      position: fixed;
      width: 100vw;
      z-index: 1000;
      height: 60px;
    }

    &__side-bkg-noscroll {
      background: -webkit-linear-gradient(to bottom, $color_sky, $color_sky_nav);
      background: linear-gradient(to bottom, $color_sky, $color_sky_nav);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    }

    &__nav {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      pointer-events: auto;
      background: transparent;
    }

    &__item {
      padding: 10px;
      width: auto;
      border: 1px solid transparent;

      &:hover, &:focus {
        border: 1px solid transparent;
        box-shadow: none;
      }
    }

    &__item-link {
      color: white;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      letter-spacing: 2px;
      padding: 5px;
      font-size: 13px;
      text-decoration: none;
      border-radius: 25px;
      border: 1px solid transparent;
      padding: 5px 10px;
      font-size: 16px;
      width: auto;
      margin-left: 0;

        &--login {
          border: 1px solid rgba(255, 255, 255, 0.6);
        }

        &:hover, &:focus {
          border: 1px solid rgba(255, 255, 255, 0.6);
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          transition: box-shadow 300ms ease-in-out;
        }
      }
    }
}

.a-nav {
  &__item {
      padding: 10px 0;
      width: 100%;

      &:hover, &:focus {
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 300ms ease-in-out;
      }

    }

    &__item-link {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 3px;
    padding: 5px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid transparent;
    width: 100vw;
    padding: 20px;
    margin-left: 13px;

  }

    @include for-tablet-portrait-up {
      font-weight: 400;
      font-size: 24px;
    }

    &:hover, &:focus {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      }

    @include mobile-nav-breakpoint {


      &__expanded {
        background: -webkit-linear-gradient(to bottom, $color_sky, $color_sky_nav);
        background: linear-gradient(to bottom, $color_sky, $color_sky_nav);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
        border:1px solid rgba(255,255,255, 0.2);
        list-style-type: none;
        position: relative;
        top: 30px;
        margin-right: 10px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: -6px;
          right: 35px;
          width: 10px;
          height: 10px;
          background: $color_sky;
          border-right:1px solid rgba(255,255,255, 0.2);
          border-top:1px solid rgba(255,255,255, 0.2);
          -moz-transform:rotate(-45deg);
          -webkit-transform:rotate(-45deg);
        }
      }

      &__wrap {
        display: flex;
        justify-content: flex-end;
        max-width: 100vw;
      }

      &__close {
        color: rgba(255,255,255, 0.6) !important;
        top: 60px !important;
        right: 20px !important;
      }

      &__item {
        height: 0;
        opacity: 0;
        padding: 0;
        color: transparent !important;
        margin: 0 10px;
        overflow: hidden;
        transition: all 400ms ease-out;

        &--expanded {
          transition: height 400ms ease-in, opacity 800ms ease-in;
          height: 41px;
          opacity: 1;
          width: auto;
          border: 1px solid transparent;
          margin: 3px 10px;
          font-weight: 300;
          letter-spacing: 2px;

          &:first-child {
            margin-top: 14px;
          }
        }

        &:hover, &:focus {
          border: 1px solid transparent;
          box-shadow: none;
        }
      }

      &__item-link {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: 400;
        text-transform: lowercase;
        letter-spacing: 2px;
        padding: 5px;
        font-size: 13px;
        text-decoration: none;
        border-radius: 25px;
        border: 1px solid transparent;
        padding: 5px 10px;
        font-size: 16px;
        width: auto;
        margin-left: 0;
        color: transparent;
        transition: color 400ms ease-out;

        &--expanded {
        color: white;
        transition: color 400ms ease-in;

          &--login {
            border: 1px solid rgba(255, 255, 255, 0.6);
          }

          &:hover, &:focus {
            border: 1px solid rgba(255, 255, 255, 0.6);
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            transition: box-shadow 300ms ease-in-out;
          }
      }
    }
  }
}
