.my-shuffle {
  position: relative;
  overflow: hidden;
}

.posts-grid {
	background: url(./img/splash_pfl.svg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  padding: 60px 0;

  @include profile-card-breakpoint {
    padding: 60px 20px;
  }

  &__wrap {

    padding-top: 20px;

    @include mobile-nav-breakpoint {

  }
  }

  &__cont {
  	overflow: hidden;
  }

    &__button-wrap {
    width: 100%;
    padding-right: 10px;
  }

  &__button {
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    line-height: .5em;
    text-decoration: none;
    font-weight: 100;
    border-radius: 30px;
    border: 1px solid white;
    background: transparent;
    margin-top: 4px;

    @include for-tablet-portrait-up {
      margin-top: 0;
    }

    &:hover, &:active, &:focus, &-done {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
    }
  }

  &__btn--big {
    display: none;

    @include for-tablet-portrait-up {
      display: inline-block;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      letter-spacing: 2px;
      font-size: 15px;
      line-height: 1.3em;
      padding: 10px 11px 12px 11px;
    }
  }

    &__btn--sm {
      display: inline-block;
      padding: 10px 11px 12px 11px;

      @include for-tablet-portrait-up {
        display: none;
      }
    }

    &__adv-filter-wrap {
      margin-left: 12px !important;
      margin-right: 12px !important;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px 20px 20px 20px;
      border-radius: 4px;
      border: 1px solid rgba(255,255,255,.4);

    }
}

.post {
	margin-top: 20px;
	padding: 10px;

	&__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 25px;
    background-color: transparent;
    z-index: 6;

    &__close--x {
  	margin-top: -2px;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
    align-items: flex-start;
    text-align: center;
    display: inline-block;
  }
	}
}

.filters-group {
	display: inline-block;
	margin: 0 20px;
}

.filters-group--flush {
  display: inline-block;
  margin: 0;
}

.filters-group--close{
  color: rgba(255,255,255,.4);
  font-size: 1.5em;
  margin-top: -7px;

  &:hover, &:active {
    color: white;
  }
}

.filters-group--button {
  padding-top: 19px;
}

.filters-group__btn {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 6px;
	}

.filters-group-wrap {
	margin-top: -11px;
}

.btn {
  -webkit-appearance: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: .68em .8em;
  text-align: center;
  transition: .2s ease-out;

  &:active, & .active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  }
}

.btn--primary, .btn-smaller {
  background-color: rgba(52,152,219,0);
  border: 1px solid rgba(255,255,255,.8);
  color: rgba(255,255,255,.8);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 2px;

  &:hover, &:active, & .active {
  	background-color: rgba(255,255,255,.5);
  	color: #fff;
    text-decoration: none;
  }

  &:active, & .active {
    // box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  }

  &:focus {
  	box-shadow: 0 0 0 2px rgba(52,152,219,.4);
  }
}

.btn--smaller {
  letter-spacing: 1px;

}

.btn-group {
	margin-top: 6px;
}

.btn-group .btn {
  border-radius: 0;
  float: left;
}

.btn-group .btn:first-child {
  border-radius: 3px 0 0 3px;
}

.btn-group .btn:last-child {
  border-radius: 0 3px 3px 0;
}

.btn-group label.btn input[type=radio] {
  clip: rect(0,0,0,0);
  pointer-events: none;
  position: absolute;
}

.active {
	background-color: rgba(255,255,255,.5) !important;
	color: #fff !important;
  text-decoration: none;
  // box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  }

