.my-shuffle {
  position: relative;
  overflow: hidden;
}

.posts-grid {
	background: url(./img/splash_pfl.svg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 60px 20px;

  &__cont {
  	overflow: hidden;
  }
}

.post {
	margin-top: 20px;
	padding: 10px;
}