.posts {
  font-family: 'Alegreya Sans', sans-serif;
  min-height: 100vh;
  flex-direction: column;
  padding: 60px 0;
  background: #22c1c3;
  background: -webkit-linear-gradient(to bottom, #22c1c3, #fdbb2d);
  background: linear-gradient(to bottom, #22c1c3, #fdbb2d);

  &__header {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 30px;
    text-align: center;
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }
  &__input-label {
    display: flex;
  }
  &__hidden {
    display: none;
  }
}
.row{
  display: flex;
}
.column{
  flex: 1 1 auto;
}
.bubble{
  border: 1px solid #000;
  border-radius: 20px;
  padding: 3px 5px;
  margin: 5px;
}
