.post-view {
  background: url(./img/splash_pfl.svg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__header {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 30px;
    text-align: center;
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }
  &__input-label {
    display: flex;
  }
  &__container {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
  }

  &__table-cont {
    overflow-x:auto;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    background: rgba(255,255,255,.7);
    color: $color_gray_text;
    border-radius: 4px;
  }

  &__grid {
    border-collapse: collapse;
  }

  &__tableHead {
    font-weight: 300;
    font-size: 1.2em;
    padding: 15px;
  }

  &__cell {
    padding: 15px;
  }

  &__thumb {
    margin: auto;
    width: 50px;
    height: auto;
  }

  &__title {
    padding: 15px;
  }

  &__meta {
    padding: 15px 30px;
  }

  &__icon-container {
        padding: 15px 30px;
      }
      &__icon {
        opacity: .5;
        font-size: 1.5em;
        border: none;
        background: none;

        &--edit {
          @extend .fa;
          @extend .fa-pencil;

          &:hover {
          opacity: 1;
          }

        }
        &--delete {
          @extend .fa;
          @extend .fa-trash;

          &:hover {
          opacity: 1;
          }
        }

      }

  &__keyword-wrapper {
    padding: 0;
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
  }

  &__keyword-value {
    color: $color_gray_text;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    background-color: $color_lighter-blue;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 2px;
    border: 1px solid $color_gray_text;
    border: 1px solid rgba(84, 84, 84, 0.24);
    margin-right: 5px;
    margin-top: 5px;
    vertical-align: top;
  }

  &__keyword-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
  }

  &__button-wrap {
    width: 100%;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__button {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 100;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid white;
    background: transparent;

    @include for-tablet-portrait-up {
      padding: 20px;
      border: 2px solid white;
      font-size: 20px;
    }

    &:hover, &:active, &:focus, &-done {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
    }
  }
  &__hidden {
    display: none;
  }
}

.post-full {
  width: 100%;
  max-width: 480px;
  margin: auto;
  font-family: 'Alegreya Sans', sans-serif;
  color: $color_gray_darker;
  position:relative;
  z-index:1;
  perspective: 600px;
  transition: $transition_card;

  &__side {
    border-radius:10px;
    height:100%;
    width:100%;
    transform-style:preserve-3d;
    backface-visibility:hidden;
    background: $color_sky_lighter;
    background: $color_purple_sky;
  background: -webkit-linear-gradient(to bottom, $color_aqua_lighter, $color_sky_lighter);
  background: linear-gradient(to bottom, $color_aqua_lighter, $color_sky_lighter);
    border-radius: 10px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.4);
    transition: .5s ease-in-out;
    position: relative;
    }

  &__ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 3;

    &::before, &::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
      border: 5px solid $color_sky_darker;
      border-top-color: transparent;
      border-left-color: transparent;
    }

    &::before {
        top: 0;
        right: 42px;
      }

    &::after {
      bottom: 42px;
      left: 0;
    }

    &--green {

      width: 150px;
      height: 150px;
      overflow: hidden;
      position: absolute;
      top: -10px;
      left: -10px;
      z-index: 3;

      &::before, &::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border: 5px solid $color_aqua_darker;
        border-top-color: transparent;
        border-left-color: transparent;
      }

      &::before {
        top: 0;
        right: 42px;
      }

      &::after {
        bottom: 42px;
        left: 0;
      }
    }
  }

  &__ribbon-span {
    position: absolute;
    display: block;
    width: 265px;
    padding: 8px 0;
    background-color: $color_sky;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: lowercase;
    letter-spacing: 2px;
    text-align: center;
    right: -25px;
    top: 28px;
    transform: rotate(-45deg);
    line-height: .8em;

    &--green {
      position: absolute;
      display: block;
      width: 265px;
      padding: 8px 0;
      background-color: $color_sky;
      box-shadow: 0 5px 10px rgba(0,0,0,.1);
      color: #fff;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 1.2em;
      font-weight: 400;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      text-transform: lowercase;
      letter-spacing: 2px;
      text-align: center;
      right: -25px;
      top: 28px;
      transform: rotate(-45deg);
      line-height: .8em;
      background-color: $color_aqua;
    }
  }

  &__image {
    border-radius: 100%;
    width: 170px;
    max-width: 100%;
    height: auto;
    border: 2px solid rgba(255,255,255,.8);
    cursor: pointer;
  }

  &__icon {
    height: 100%;
    width: auto;
    color: rgba(255,255,255,.8);
    cursor: pointer;
  }

  &__icon--avatar {
    font-size: 7em;
  }

  &__image-wrap {
    width: 170px;
    height: 170px;
    margin: 20px;
    flex-basis: 45%;
    font-size: 1.3em;
    text-align: center;
    color: $color_gray_lighter;
  }

  &__date {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 15px;
  }

  &__name-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

  &__name {
      font-weight: 700;
      text-align: center;
      font-size: 24px;
      line-height: 22px;
      margin-top: 10px;
      border-bottom: 1px solid transparent;
      display: inline-block;
      margin: auto;

      &:hover {
        border-bottom: 1px dotted $color_gray_text;
        color: $color_gray_lighter;
      }
    }

  &__username {
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    border-bottom: 1px transparent;
    display: inline-block;
    margin: auto;

    &:hover {
        border-bottom: 1px dotted $color_gray_text;
        color: $color_gray_lighter;
      }
  }

  &__card-body {
    display: flex;
  }

  &__title {
    font-weight: 700;
    font-size: 1.8em;
    margin: 60px 10px 15px 0;
    line-height: .9em;
    text-align: left !important;
  }

  &__body{
    line-height: 1.4em;
    padding: 0 20px 0 0;
    margin-bottom: 20px;
  }

  &__back-wrap {
    padding: 0 0 20px 20px;
  }

  &__excerpt {

      }
  &__readmore {
    margin-left: 30px !important;
    margin-left: 30px !important;
    margin-top: 5px ;
    cursor: pointer;

    &:hover {
      background-color: $color_gray_border;
      color: white;
      transition: all 300ms ease-in-out;
    }
  }

  &__icon--readmore {
      font-size: .7em;
    }

  &__skill-list {
    list-style-type: none;
    display: inline;
  }

  &__skill-item {
    display: inline-block;
    padding: 0 4px 0 0;
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px 0;

    // &--edit {
    //   justify-content: flex-start;
    // }
  }


  &__edit, &__connect, &__delete, &__compress, &__expand {
    padding: 12px 15px;
    border-radius: 30px;
    margin: 0 0 0 10px;
    background: $color_aqua;
    border: none;
    color: rgba(255,255,255, .8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;

    &:hover, &:focus, &:active {
      background: $color_aqua;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
      border: none;
      color: rgba(255,255,255,1);
    }

  }

  &__nav-item--flip {
    display: flex;
    justify-content: center;
  }

  &__delete {
    right: 60px;
    background: $color_error_text;

    &:hover, &:focus, &:active {
      background: $color_error_text;
    }

  }

    &__icon--edit, &__icon--connect,
    &__icon--delete, &__icon--compess, &__icon--expand {
      color: inherit;

      &:hover, &:focus, &:active {
        color: inherit;
      }

    }


  }

.post-thumb {
  width: 100%;
  margin: auto;
  font-family: 'Alegreya Sans', sans-serif;
  color: $color_gray_darker;
  position:relative;
  z-index:1;
  transition: $transition_card;

  &__ribbon {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 3;

    &::before, &::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
      border: 5px solid $color_sky_darker;
      border-top-color: transparent;
      border-left-color: transparent;
    }

    &::before {
        top: 0;
        right: 2px;
      }

    &::after {
      bottom: 2px;
      left: 0;
    }

    &--green {

      width: 100px;
      height: 100px;
      overflow: hidden;
      position: absolute;
      top: -10px;
      left: -10px;
      z-index: 3;

      &::before, &::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border: 5px solid $color_aqua_darker;
        border-top-color: transparent;
        border-left-color: transparent;
      }

      &::before {
        top: 0;
        right: 2px;
      }

      &::after {
        bottom: 2px;
        left: 0;
      }
    }
  }

  &__ribbon-span {
    position: absolute;
    display: block;
    width: 150px;
    padding: 8px 0;
    background-color: $color_sky;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: lowercase;
    letter-spacing: 2px;
    text-align: center;
    right: -15px;
    top: 21px;
    transform: rotate(-45deg);
    line-height: .8em;

    &--green {
      position: absolute;
      display: block;
      width: 150px;
      padding: 8px 0;
      background-color: $color_sky;
      box-shadow: 0 5px 10px rgba(0,0,0,.1);
      color: #fff;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 1.2em;
      font-weight: 400;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      text-transform: lowercase;
      letter-spacing: 2px;
      text-align: center;
      right: -15px;
      top: 21px;
      transform: rotate(-45deg);
      line-height: .8em;
      background-color: $color_aqua;
    }
  }

  &__image {
    border-radius: 100%;
    width: 50px;
    height: auto;
    border: 1px solid rgba(255,255,255,.8);
    cursor: pointer;
    margin-right: 10px;
  }

  &__icon {
    height: 100%;
    width: auto;
    color: rgba(255,255,255,.8);
    cursor: pointer;
  }

  &__icon--avatar {
    font-size: 2.5em;
  }

  &__image-wrap {
    margin: 10px 15px;
    font-size: 1.3em;
    color: $color_gray_lighter;
  }

  &__img-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 50px;

  }

  &__text-wrap {
    flex-basis: 70%;
    padding: 0 20px;
  }

  &__date {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 7px;
  }

  &__name-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

  &__name {
      font-weight: 700;
      text-align: center;
      font-size: 24px;
      line-height: 22px;
      margin-top: 10px;
      border-bottom: 1px solid transparent;
      display: inline-block;
      margin: auto;

      &:hover {
        border-bottom: 1px dotted $color_gray_text;
        color: $color_gray_lighter;
      }
    }

  &__username {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px transparent;
    display: inline-block;
    margin-left: 10px;

    &:hover {
        border-bottom: 1px dotted $color_gray_text;
        color: $color_gray_lighter;
      }
  }

  &__card-body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 700;
    font-size: 1.8em;
    margin: 60px 0 15px 0;
    line-height: .9em;
  }

  &__body{
    display: block;
    display: -webkit-box;
    max-height: 64px; /* Fallback for non-webkit */
    font-size: 16px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px 0 0;
    margin-bottom: 10px;
  }

  &__back-wrap {
    padding: 0 0 20px 20px;
  }

  &__excerpt {
      display: block;
      display: -webkit-box;
      height: 64px; /* Fallback for non-webkit */
      font-size: 16px;
      line-height: 1.4;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      }
  &__readmore {
    margin-left: 30px !important;
    margin-left: 30px !important;
    margin-top: 5px ;
    cursor: pointer;

    &:hover {
      background-color: $color_gray_border;
      color: white;
      transition: all 300ms ease-in-out;
    }
  }

  &__icon--readmore {
      font-size: .7em;
    }

  &__skill-list {
    list-style-type: none;
    display: inline;
  }

  &__skill-item {
    display: inline-block;
    padding: 0 4px 0 0;
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px 20px 0;
    margin-top: -59px;

    // &--edit {
    //   justify-content: flex-start;
    // }
  }


  &__edit, &__connect,
  &__delete, &__expand, &__compress {
    padding: 12px 15px;
    border-radius: 30px;
    margin: 0 0 0 10px;
    background: $color_aqua;
    border: none;
    color: rgba(255,255,255,.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;

    &:hover, &:focus, &:active {
      background: $color_aqua;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
      border: none;
      color: rgba(255,255,255,1);
    }

  }

  &__delete {
    right: 60px;
    background: $color_error_text;

    &:hover, &:focus, &:active {
      background: $color_error_text;
    }

  }

    &__icon--edit, &__icon--connect,
    &__icon--delete, &__icon--expand, &__icon--compress {
      color: inherit;

      &:hover, &:focus, &:active {
        color: inherit;
      }

    }


  }

.post-nav {
  margin: 20px auto 0 auto;
  z-index: 5;
  width: 100%;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  list-style: none;

  &__item-link {
  color: rgba(255, 2555, 255, 0.8);
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: lowercase;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 5px 10px;
  letter-spacing: 2px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.6);

    &:hover, &:focus {
      color: rgba(255, 2555, 255, 1);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transition: box-shadow 300ms ease-in-out;
    }
  }
}