.posts {
  font-family: 'Alegreya Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 0;
  background: $color_aqua;
  background: -webkit-linear-gradient(to bottom, $color_aqua, $color_sky);
  background: linear-gradient(to bottom, $color_aqua, $color_sky);

  &__header {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 0;
    text-align: center;
    @include for-tablet-portrait-up {
      font-size: 45px;
      padding: 30px;
    }
  }
  &__input-label {
    display: flex;
  }
  &__container {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
  }

  &__table-cont {
    overflow-x:auto;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    background: rgba(255,255,255,.7);
    color: $color_gray_text;
    border-radius: 4px;
  }

  &__grid {
    border-collapse: collapse;
  }

  &__tableHead {
    font-weight: 300;
    font-size: 1.2em;
    padding: 15px;
  }

  &__cell {
    padding: 15px;
  }

  &__thumb {
    margin: auto;
    width: 50px;
    height: auto;
  }

  &__title {
    padding: 15px;
  }

  &__meta {
    padding: 15px 30px;
  }

  &__icon-container {
        padding: 15px 30px;
      }
      &__icon {
        opacity: .5;
        font-size: 1.5em;
        border: none;
        background: none;

        &--edit {
          @extend .fa;
          @extend .fa-pencil;

          &:hover {
          opacity: 1;
          }

        }
        &--delete {
          @extend .fa;
          @extend .fa-trash;

          &:hover {
          opacity: 1;
          }
        }

      }

  &__keyword-wrapper {
    padding: 0;
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
  }

  &__keyword-value {
    color: $color_gray_text;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    background-color: $color_lighter-blue;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 2px;
    border: 1px solid $color_gray_text;
    border: 1px solid rgba(84, 84, 84, 0.24);
    margin-right: 5px;
    margin-top: 5px;
    vertical-align: top;
  }

  &__keyword-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
  }

  &__button-wrap {
    width: 100%;
    padding-right: 10px;
  }

  &__button {
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    line-height: .5em;
    text-decoration: none;
    font-weight: 100;
    border-radius: 30px;
    border: 1px solid white;
    background: transparent;
    margin-top: 4px;

    @include for-tablet-portrait-up {
      margin-top: 0;
    }

    &:hover, &:active, &:focus, &-done {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
    }
  }

  &__btn--big {
    display: none;

    @include for-tablet-portrait-up {
      display: inline-block;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      letter-spacing: 2px;
      font-size: 15px;
      line-height: 1.3em;
      padding: 10px 11px 12px 11px;
    }
  }

    &__btn--sm {
      display: inline-block;
      padding: 10px 11px 12px 11px;

      @include for-tablet-portrait-up {
        display: none;
      }
    }
  &__hidden {
    display: none;
  }
}
