.skill-value {
  color: $color_gray_text;
  display: inline-block;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.4;
  background-color: $color_lighter-blue;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 2px;
  border: 1px solid $color_gray_text;
  border: 1px solid rgba(84, 84, 84, 0.24);
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top;

  &:hover {
      border: 1px solid $color_gray_bkgrd;
      border: 1px solid rgba(84, 84, 84, 0.6);
    }


  &__label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    display: inline-block;
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid $color_light-blue;
    border-right: 1px solid rgba(0, 126, 255, 0.24);
    padding: 1px 5px 3px;

    &:hover {
      // color: red;
    }
  }

  &__wrapper {
    padding: 0;
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
  }

  &__button {
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    margin-right: 3vw;
    font-weight: 100;
    border-radius: 50px;
    background: transparent;

    &:hover, &:active, &:focus {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
    }
  }
}

.preview {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  background: rgba(255,255,255,.3);
  border-radius: 4px;
  margin-bottom: 20px;

  @include for-tablet-landscape-up {
      margin-right: 20px;
      margin-bottom: 0;
      width: 60%;
    }

  &__msg {
    width: 100%;
    height: 2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: 300;
    color: white;
    padding-top: 20px;
    border-top: 1px white dotted;
    margin-top: 20px;
    text-align: center;
  }

  &__image {
    border-radius: 100%;
    width: 130px;
    max-width: 100%;
    height: auto;
    border: 1px solid rgba(255,255,255,.5);
  }

  &__icon {
    height: 100%;
    width: auto;
    color: rgba(255,255,255,.4);
  }

  &__image-wrap {
    width: 130px;
    height: 130px;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__header-wrap {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  &__username {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    margin: -10px 0 10px 0;
    border-bottom: 1px dotted rgba(255,255,255,.6);
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }

  &__text {
    font-size: 1.2em;
    font-weight: 300;
    padding-left: 3px;

    @include for-tablet-landscape-up {
      font-size: 1.4em;
      margin: 10px 0;
    }

    &--bold {
      font-weight: 400;
    }
  }

  &__text--body {
    padding: 10px 0 30px 0;
    white-space: pre-wrap;
    font-size: 1.5em;
  }

  &__title {
    font-weight: 400;
    font-size: 1.8em;
    padding: 15px 0;
  }

  &__skill-list {
    list-style-type: none;
    display: inline;
  }

  &__skill-item {
    display: inline-block;
    padding: 0 4px 0 0;
  }
  }

  .profile {
    padding: 60px 0 80px 0;
    background: $color_aqua;
    background: -webkit-linear-gradient(to bottom, $color_aqua, $color_sky);
    background: linear-gradient(to bottom, $color_aqua, $color_sky);
    height: 100%;
    height: calc(100vh - 59px);
    flex-wrap: wrap;

  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 20px 80px 20px;
    flex-wrap: nowrap;
  }

    &__button {
      color: white;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      font-weight: 300;
      font-size: 1.2em;
      letter-spacing: 2px;
      padding: 10px;
      text-decoration: none;
      border-radius: 25px;
      border: 1px solid white;
      background: transparent;
      appearance: none;
      -webkit-appearance: none;
      margin: 10px auto;


      &:hover, &:focus {
        border: 1px solid rgba(255, 255, 255, 0.6);
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 300ms ease-in-out;
        appearance: none;
      -webkit-appearance: none;
      }
    }

    &__button-wrap {
      display: flex;
      justify-content: center;
    }
    &__body {
      width: 100%;
      margin: 0 auto;
      background: rgba(255,255,255,.3);
      text-align: center;
      padding: 20px;
      border-radius: 4px;
      align-self: flex-start;
      max-height: 100%;
      position: relative;
      padding-bottom: 60px;

      @include for-tablet-portrait-up {
          width: 80%;
        }

      &--overflow {
        overflow-y: auto;
      }

      }

      &__column-wrap {
        -webkit-column-gap: 20;
        -moz-column-gap: 20;
        column-gap: 20;
        position: relative;
        padding: 20px 10px 10px 10px;
     }

     &__pageOne, &__pageTwo, &__pageThree {

      @include for-tablet-portrait-up {
        display: flex;
      }
     }

     &__column-L {
        width: 100%;
        @include for-tablet-portrait-up {
          margin-right: 20px;
          width: 50%;
        }
     }
     &__column-R {
        width: 100%;
        @include for-tablet-portrait-up {
          width: 50%;
        }
     }
  }

  .pageNav {
    position: absolute;
    bottom: 0;
    margin: 20px;
    padding: 12px 15px;
    border-radius: 30px;
    margin: 20px;
    background: $color_sky;
    // border: 1px solid rgba(255,255,255,.4);
    color: rgba(255,255,255,.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    appearance: none;
    -webkit-appearance: none;
    border: none;
    z-index: 3;

    &:hover, &:focus, &:active {
        background: $color_aqua_darker;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4) !important;
        transition: all 300ms ease-in-out;
        // border: 1px solid rgba(255,255,255,.8);
        color: rgba(255,255,255,1);
        appearance: none;
        webkit-appearance: none;
        border: none;
        outline: none;
      }

    &__text {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 2px;
      padding: 0 5px;
    }
  }

  .pageBack {
    left: 0;
  }

  .pageFwd {
    right: 0;
  }