.skill-value {
  color: #545454;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  background-color: #ebf5ff;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 2px;
  border: 1px solid #545454;
  border: 1px solid rgba(84, 84, 84, 0.24);
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;

  &__label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    display: inline-block;
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    border-right: 1px solid rgba(0, 126, 255, 0.24);
    padding: 1px 5px 3px;
  }

  &__wrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
  }

  &__button {
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    margin-right: 3vw;
    font-weight: 100;
    border-radius: 50px;
    background: transparent;

    &:hover, &:active, &:focus {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
    }
  }
}

.preview {
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 40px 10px;
  display: flex;
  color: white;
  @include for-tablet-portrait-up {
      width: 60%;
    }

  &__image {
    border-radius: 100%;
    width: 130px;
    height: auto;
  }

  &__icon {
    height: 100%;
    width: auto;
    color: rgba(255,255,255,.4);
  }

  &__image-wrap {
    width: 130px;
    height: 130px;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__username {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: -10px;
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }

  &__text {
    font-size: 1.2em;
    font-weight: 100;
    padding-left: 3px;
  }
  }


