.skill-value {
  color: #545454;
  display: inline-block;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.4;
  background-color: #ebf5ff;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 2px;
  border: 1px solid #545454;
  border: 1px solid rgba(84, 84, 84, 0.24);
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top;

  &:hover {
      border: 1px solid #e7e7e7;
      border: 1px solid rgba(84, 84, 84, 0.6);
    }


  &__label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    display: inline-block;
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    border-right: 1px solid rgba(0, 126, 255, 0.24);
    padding: 1px 5px 3px;

    &:hover {
      // color: red;
    }
  }

  &__wrapper {
    padding: 0;
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
  }

  &__button {
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    margin-right: 3vw;
    font-weight: 100;
    border-radius: 50px;
    background: transparent;

    &:hover, &:active, &:focus {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
    }
  }
}

.preview {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  background: rgba(255,255,255,.3);
  border-radius: 4px;
  margin-bottom: 20px;

  @include for-tablet-landscape-up {
      margin-right: 20px;
      margin-bottom: 0;
      width: 60%;
    }

  &__image {
    border-radius: 100%;
    width: 130px;
    max-width: 100%;
    height: auto;
    border: 1px solid rgba(255,255,255,.5);
  }

  &__icon {
    height: 100%;
    width: auto;
    color: rgba(255,255,255,.4);
  }

  &__image-wrap {
    width: 130px;
    height: 130px;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__header-wrap {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  &__username {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    margin: -10px 0 10px 0;
    border-bottom: 1px dotted rgba(255,255,255,.6);
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }

  &__text {
    font-size: 1.2em;
    font-weight: 100;
    padding-left: 3px;

    @include for-tablet-landscape-up {
      font-size: 1.4em;
      margin: 10px 0;
    }

    &--bold {
      font-weight: 400;
    }
  }

  &__text--body {
    padding: 10px 0 30px 0;
    white-space: pre-wrap;
    font-size: 1.5em;
  }

  &__title {
    font-weight: 400;
    font-size: 1.8em;
    padding: 15px 0;
  }

  &__skill-list {
    list-style-type: none;
    display: inline;
  }

  &__skill-item {
    display: inline-block;
    padding: 0 4px 0 0;
  }
  }

  .profile {
    padding: 60px 0 80px 0;
    background: #22c1c3;
    background: -webkit-linear-gradient(to bottom, #22c1c3, #fdbb2d);
    background: linear-gradient(to bottom, #22c1c3, #fdbb2d);
    height: 100%;
    height: calc(100vh - 59px);
    overflow-y: scroll;

  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 20px 80px 20px;
  }
  }
