.pointer {
  cursor: pointer;
}
.form {
  font-family: 'Alegreya Sans', sans-serif;
  flex-direction: column;

  &__body {
  width: 100%;
  margin: 0 auto;
  background: rgba(255,255,255,.3);
  padding: 10px;
  text-align: center;

  @include for-tablet-portrait-up {
      width: 60%;
    }
  }
  &__header {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 30px;
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }
  &__input-group {
    width: 100%;
  }
  &__input {
    width: 90%;
    border-radius: 3px;
    width: 90%;
    margin: 5px 0;
    border: 1px solid white;
    padding: 20px;
    font-size: 1.2em;
    font-weight: 100;
    color: #545454;

  }
  &__error {
    color: #a94442;
    // background-color: #f2dede;
    font-size: 1.2em;
    font-weight: 500;
    padding: 15px;
    margin: 15px auto;
    // border: 1px solid #ebccd1;
    border-radius: 3px;
    transition: opacity .15s linear;
    width: 90%;
  }

  &__button-wrap {
  width: 100%;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include for-tablet-portrait-up{
    flex-wrap: nowrap;
  }
}
}

::-webkit-input-placeholder {
  color: #545454;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  }


::-moz-placeholder {
  color: #545454;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  }


:-ms-input-placeholder {
  color: #545454;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  }


:-moz-placeholder {
  color: #545454;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

