.pointer {
  cursor: pointer;
}

input:not([type=checkbox]):not([type=radio]), textarea {
  -webkit-appearance: none;
}

.form {
  font-family: 'Alegreya Sans', sans-serif;
  flex-direction: column;

  &__link-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__body {
  width: 100%;
  margin: 0 auto;
  background: rgba(255,255,255,.3);
  text-align: center;
  padding: 20px;
  border-radius: 4px;

  @include for-tablet-portrait-up {
      width: 60%;
      max-width: 600px;
    }
  }
  &__header {
    color: white;
    font-weight: 100;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 0px 20px 10px 20px;
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }
  &__connection-header {
    color: white;
    font-weight: 100;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 28px;
    padding: 30px 0 0 0;
    @include for-tablet-portrait-up {
      font-size: 29px;
    }
    @include for-tablet-landscape-up {
      font-size: 45px;
    }
  }

  &__btn--search {
      color: white;
      padding-top: 40px;

    }

  &__label--checkbox {
      font-family: 'Alegreya Sans', sans-serif;
      color: $color_gray_darker;
  }


  &__icon--search {
      color: white;
      font-size: 1.5em;

    }

  &__input-group {
    width: 100%;
    text-align: left;
    padding: 0;
    -moz-column-break-inside:avoid;
    -webkit-column-break-inside:avoid;
    column-break-inside:avoid;
    position: relative;
  }

  &__input {
    width: 100%;
    border-radius: 3px;
    margin: 5px auto;
    border: 1px solid $color_gray_border;
    padding: 12px;
    font-size: .9em;
    font-weight: 100;
    color: $color_gray_text;
    @include for-big-desktop-up {
      padding: 15px;
      font-size: 1.2em;
    }

    &__search-container {
      position: relative;
    }

    &--search {
      padding: 8px;
      font-size: .8em;


      @include for-tablet-landscape-up {
        padding: 12px;
        font-size: .9em;
      }

      @include for-big-desktop-up {
      padding: 12px;
      font-size: 1em;
    }

    }

    &--select {
      -webkit-appearance: button;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      -webkit-user-select: none;
      background: white url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
      background-position:  right 10px center;
      background-repeat: no-repeat;
      background-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--select-grid {
      -webkit-appearance: button;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      -webkit-user-select: none;
      background: white url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
      background-position:  right 10px center;
      background-repeat: no-repeat;
      background-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 8px !important;
      font-size: .8em !important;

      // @include for-tablet-landscape-up {
      //   padding: 12px !important;
      //   font-size: .9em !important;
      // }

      @include for-big-desktop-up {
      padding: 12px !important;
      font-size: 1em !important;
    }
    }

    &--option {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      top: 4px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 20px;
      width: 20px;
      transition: all 0.15s ease-out 0s;
      // background: rgba(255,255,255,.5);
      border: 2px solid rgba(255,255,255,.9);
      color: rgba(255,255,255,.8);
      cursor: pointer;
      display: inline-block;
      margin-right: 0.5rem;
      outline: none;
      position: relative;
      z-index: 10;

      &:hover {
        background: $color_aqua_lighter;
      }

      &:checked {
        background: transparent;

        &::before {
          height: 12px;
          width: 12px;
          position: absolute;
          top: 2px;
          left: 2px;
          content: '';
          display: inline-block;
          border-radius: 100%;
          background-color: white;

            &:focus {
            border-radius: 50%;
            outline: 2px solid $color_focus_ring !important;
          }
        }
        ::after {
          background: #40e0d0;
          content: '';
          display: block;
          position: relative;
          z-index: 100;
        }
      }

    }

    &--checkbox {

      font-size: 2em;
      margin-right: 5px;

      &:checked {
        &::before {
          height: 26px;
          width: 26px;
          position: absolute;
          top: -12px;
          left: 3;
          content: '';
          display: inline-block;
          border-radius: 100%;
          background: url(./img/checkmark.svg) no-repeat;
          background-position-x: 0;
          background-position-y: 0;
          opacity: .6;
      }
}
    }

    &--radio-group {
      padding: 10px 0;
    }

    &--radio {
      margin: 0 5px 0 0;
      padding: 1px;
      border-radius: 50%;

      ::after {
        border-radius: 50%;
      }

      &:focus {
        border-radius: 50%;
        box-shadow: 0 0 10px $color_focus_ring !important;
      }

    }
    &--radio-label {
      font-family: 'Alegreya Sans', sans-serif;
      color: $color_gray_text;
      padding: 0 15px 0 0;
      @include for-big-desktop-up {
      font-size: 1.2em;
    }
    }
    &--radio-wrap {
      display: inline-block;
      font-family: 'Alegreya Sans', sans-serif;
    }

    &--textarea {
        overflow-y: visible;

      &::placeholder {

      }
    }
  }
  &__input-grid {
    width: 100%;
    border-radius: 3px;
    margin: 5px auto;
    border: 1px solid $color_gray_border;
    padding: 8px !important;
    font-size: .8em !important;
    font-weight: 100;
    color: $color_gray_text;

    // @include for-tablet-landscape-up {
    //   padding: 12px !important;
    //   font-size: .9em !important;
    // }

    @include for-big-desktop-up {
      padding: 12px !important;
      font-size: 1em !important;
    }



  }
  &__connection-input {
    padding: 12px;
  }
  &__label {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    width: 100%;
    margin-top: 10px;
    position: relative;
    top: 6px;
    @include for-big-desktop-up {
      font-size: 1.2em;
    }

  }

    &__label--white {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    width: 100%;
    margin-top: 10px;
    position: relative;
    top: 6px;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    @include for-big-desktop-up {
      font-size: 1.2em;
    }
  }

  &__error {
    font-family: 'Alegreya Sans', sans-serif;
    color: $color_error_text;
    background-color: $color_error_bkg;
    font-size: 1.2em;
    font-weight: 300;
    margin: 15px auto;
    border: 1px solid $color_error_text;
    padding: 7px;
    border-radius: 3px;
    transition: opacity .15s linear;
    text-align: center;

  }

  &__button-wrap {
  width: 100%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

    @include for-tablet-portrait-up{
      flex-wrap: nowrap;
    }
  }

  &__button {
    color: rgba(255,255,255,1);
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 400;
    border-radius: 50px;
    padding: 10px 20px;
    border: 1px solid white;
    background-color: $color_sky;

    &:last-child {
      margin-right: 0;
    }

    @include for-tablet-portrait-up {
      font-size: 20px;
      font-weight: 400;
    }

    &:hover, &:active, &:focus {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      background-color: $color_aqua_darker;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out;
    }
  }

  &__hidden {
    display: none;
  }

  &__login-link {
    cursor: pointer;
    color: $color_gray_text !important;
    text-decoration: none !important;
    background-color: transparent;
    font-family: 'Alegreya Sans SC', sans-serif !important;
    text-transform: lowercase !important;
    font-weight: 700;
    font-size: 15px;
    margin: 5px 0 0 5px;
    border-bottom: 1px dotted transparent !important;
    text-align: left !important;
    border-radius: 0 !important;

    @include for-tablet-portrait-up {
      font-weight: 400;
    }

    &:hover, &:active{
      color: rgba(255,255,255,1);
      margin: 5px 0 0 5px;
      border-bottom: 1px dotted white !important;
      transition: all 300ms ease-in-out;
    }
  }

}

::-webkit-input-placeholder {
  color: $color_gray_text;
  // opacity: 0.8;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  }


::-moz-placeholder {
  color: $color_gray_text;
  // opacity: 0.8;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  }


:-ms-input-placeholder {
  color: $color_gray_text;
  // opacity: 0.8;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  }


:-moz-placeholder {
  color: $color_gray_text;
  // opacity: 0.8;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
