.posts-grid__cont {
    padding-left: 3.5%;
    padding-right: 3.5%
}

.posts-grid__cont:after,
.posts-grid__cont:before {
    content: " ";
    display: table
}

.posts-grid__cont:after {
    clear: both
}

.hidden {
    display: none!important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.clearfix,
.clearfix:after {
    clear: both;
    content: " ";
    display: table
}
.table-center-wrap {
    display: table;
    table-layout: fixed
}

.table-center {
    display: table-cell;
    vertical-align: middle
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  position: relative;
}

.flex-col-1-sp,
.flex-col-2-xl,
.flex-col-3-lg,
.flex-col-4-md,
.flex-col-6-sm,
.flex-col-8-md,
.flex-col-9-lg,
.flex-col-12-xs {
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
  top: 0;
}

.flex-col-1-sp {
  flex: 0 0 8.333%;
  max-width: 8.333%;
  width: 8.333%;
}

.flex-col-12-xs {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

@include for-phone-landscape-up {
  .flex-col-6-sm {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  .flex-col-3-sm {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
  }
  .flex-col-4-sm {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    width: 33.333%;
  }
}

@include for-tablet-portrait-up {
  .flex-col-2-md {
    flex: 0 0 16.667%;
    max-width: 16.667%;
    width: 16.667%;
  }
  .flex-col-4-md {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    width: 33.333%;
  }
  .flex-col-8-md {
    flex: 0 0 66.667%;
    max-width: 66.667%;
    width: 66.667%;
  }
}

@include for-desktop-up {
  .flex-col-1-lg {
    flex: 0 0 8.333%;
    max-width: 8.333%;
    width: 8.333%;
  }
  .flex-col-2-lg {
    flex: 0 0 16.667%;
    max-width: 16.667%;
    width: 16.667%;
}
  .flex-col-3-lg {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
  }
  .flex-col-9-lg {
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%;
  }

}

@include for-big-desktop-up {
  .flex-col-1-xl {
    flex: 0 0 8.333%;
    max-width: 8.333%;
    width: 8.333%;
  }
  .flex-col-2-xl {
      flex: 0 0 16.667%;
      max-width: 16.667%;
      width: 16.667%;
  }
}



.sizer {
  position: absolute;
  visibility: hidden;
  width: 8.3333%;
}