.posts-grid__cont {
    padding-left: 3.5%;
    padding-right: 3.5%
}

.posts-grid__cont:after,
.posts-grid__cont:before {
    content: " ";
    display: table
}

.posts-grid__cont:after {
    clear: both
}

.row {
    margin-left: auto;
    margin-right: auto
}

.row:after,
.row:before {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.row .row {
    margin-left: -8px;
    margin-right: -8px
}

.row--centered {
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.hidden {
    display: none!important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.clearfix,
.clearfix:after {
    clear: both;
    content: " ";
    display: table
}
.table-center-wrap {
    display: table;
    table-layout: fixed
}

.table-center {
    display: table-cell;
    vertical-align: middle
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.flex-col-1-sp,
.flex-col-2-xl,
.flex-col-3-lg,
.flex-col-4-md,
.flex-col-6-sm,
.flex-col-12-xs {
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

.flex-col-1-sp {
  flex: 0 0 8.333%;
  max-width: 8.333%;
  width: 8.333%;
}

.flex-col-12-xs {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

@include for-phone-landscape-up {
  .flex-col-6-sm {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
}

@include for-tablet-portrait-up {
  .flex-col-4-md {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    width: 33.333%;
  }
}

@include for-desktop-up {
  .flex-col-3-lg {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
  }
}

@include for-big-desktop-up {
  .flex-col-2-xl {
      flex: 0 0 16.667%;
      max-width: 16.667%;
      width: 16.667%;
  }
}




/* ---------- */

/* Shuffle/demo specific styles */
.sizer {
  position: absolute;
  visibility: hidden;
  width: 8.3333%;
}

.box {
  margin-top: 16px;
}

.box__inner {
  height: 150px;
  background-color: mediumseagreen;
  border: 1px solid black;
}

/* HERE'S THE FIX. CHANGE YOUR GRID CLASS NAMES AS NEEDED. */
/* Using position:absolute inside a flex container removes
the element as a flex child, so the `flex` properties don't apply. The width
is explicitly set here so that the sizer column maintains the width we
want, but also doesn't actually show up in the grid. */
.flex-col-1 {
  width: 8.333%;
}

.flex-col-3 {
  width: 25%;
}

.flex-col-6 {
  width: 50%;
}