.posts-grid__cont {
    padding-left: 3.5%;
    padding-right: 3.5%
}

.posts-grid__cont:after,
.posts-grid__cont:before {
    content: " ";
    display: table
}

.posts-grid__cont:after {
    clear: both
}

.row {
    margin-left: auto;
    margin-right: auto
}

.row:after,
.row:before {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.row .row {
    margin-left: -8px;
    margin-right: -8px
}

.row--centered {
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.aspect {
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%
}

.aspect--16x9 {
    padding-bottom: 56.25%
}

.aspect--9x16 {
    padding-bottom: 177.77778%
}

.aspect--4x3 {
    padding-bottom: 75%
}

.aspect--3x4 {
    padding-bottom: 133.33333%
}

.aspect--3x2 {
    padding-bottom: 66.66667%
}

.aspect--3x1 {
    padding-bottom: 33.33333%
}

.aspect--2x3 {
    padding-bottom: 150%
}

.aspect--2x1 {
    padding-bottom: 50%
}

.aspect--1x2 {
    padding-bottom: 200%
}

.aspect--1x1 {
    padding-bottom: 100%
}

.aspect--none {
    height: auto;
    overflow: visible;
    padding-bottom: 0
}

.aspect--none>.aspect__inner {
    position: static
}

.aspect>div,
.aspect__inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.col-1\@lg,
.col-1\@md,
.col-1\@sm,
.col-1\@xs,
.col-2\@lg,
.col-2\@md,
.col-2\@sm,
.col-2\@xs,
.col-3\@lg,
.col-3\@md,
.col-3\@sm,
.col-3\@xs,
.col-4\@lg,
.col-4\@md,
.col-4\@sm,
.col-4\@xs,
.col-5\@lg,
.col-5\@md,
.col-5\@sm,
.col-5\@xs,
.col-6\@lg,
.col-6\@md,
.col-6\@sm,
.col-6\@xs,
.col-7\@lg,
.col-7\@md,
.col-7\@sm,
.col-7\@xs,
.col-8\@lg,
.col-8\@md,
.col-8\@sm,
.col-8\@xs,
.col-9\@lg,
.col-9\@md,
.col-9\@sm,
.col-9\@xs,
.col-10\@lg,
.col-10\@md,
.col-10\@sm,
.col-10\@xs,
.col-11\@lg,
.col-11\@md,
.col-11\@sm,
.col-11\@xs,
.col-12\@lg,
.col-12\@md,
.col-12\@sm,
.col-12\@xs {
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative
}

.col-1\@xs,
.col-2\@xs,
.col-3\@xs,
.col-4\@xs,
.col-5\@xs,
.col-6\@xs,
.col-7\@xs,
.col-8\@xs,
.col-9\@xs,
.col-10\@xs,
.col-11\@xs,
.col-12\@xs {
    float: left
}

.aspect--16x9\@xs {
    padding-bottom: 56.25%
}

.aspect--9x16\@xs {
    padding-bottom: 177.77778%
}

.aspect--4x3\@xs {
    padding-bottom: 75%
}

.aspect--3x4\@xs {
    padding-bottom: 133.33333%
}

.aspect--3x2\@xs {
    padding-bottom: 66.66667%
}

.aspect--3x1\@xs {
    padding-bottom: 33.33333%
}

.aspect--2x3\@xs {
    padding-bottom: 150%
}

.aspect--2x1\@xs {
    padding-bottom: 50%
}

.aspect--1x2\@xs {
    padding-bottom: 200%
}

.aspect--1x1\@xs {
    padding-bottom: 100%
}

.aspect--none\@xs {
    height: auto;
    overflow: visible;
    padding-bottom: 0
}

.aspect--none\@xs>.aspect__inner {
    position: static
}

.col-1\@xs {
    width: 16.66667%
}

.col-2\@xs {
    width: 33.33333%
}

.col-3\@xs {
    width: 50%
}

.col-4\@xs {
    width: 66.66667%
}

.col-5\@xs {
    width: 83.33333%
}

.col-6\@xs {
    width: 100%
}

.col-pull-0\@xs {
    right: auto
}

.col-pull-1\@xs {
    right: 16.66667%
}

.col-pull-2\@xs {
    right: 33.33333%
}

.col-pull-3\@xs {
    right: 50%
}

.col-pull-4\@xs {
    right: 66.66667%
}

.col-pull-5\@xs {
    right: 83.33333%
}

.col-pull-6\@xs {
    right: 100%
}

.col-push-0\@xs {
    left: auto
}

.col-push-1\@xs {
    left: 16.66667%
}

.col-push-2\@xs {
    left: 33.33333%
}

.col-push-3\@xs {
    left: 50%
}

.col-push-4\@xs {
    left: 66.66667%
}

.col-push-5\@xs {
    left: 83.33333%
}

.col-push-6\@xs {
    left: 100%
}

.col-offset-0\@xs {
    margin-left: 0
}

.col-offset-1\@xs {
    margin-left: 16.66667%
}

.col-offset-2\@xs {
    margin-left: 33.33333%
}

.col-offset-3\@xs {
    margin-left: 50%
}

.col-offset-4\@xs {
    margin-left: 66.66667%
}

.col-offset-5\@xs {
    margin-left: 83.33333%
}

.col-offset-6\@xs {
    margin-left: 100%
}

@media screen and (min-width:768px) {
    .col-1\@sm,
    .col-2\@sm,
    .col-3\@sm,
    .col-4\@sm,
    .col-5\@sm,
    .col-6\@sm,
    .col-7\@sm,
    .col-8\@sm,
    .col-9\@sm,
    .col-10\@sm,
    .col-11\@sm,
    .col-12\@sm {
        float: left
    }
    .aspect--16x9\@sm {
        padding-bottom: 56.25%
    }
    .aspect--9x16\@sm {
        padding-bottom: 177.77778%
    }
    .aspect--4x3\@sm {
        padding-bottom: 75%
    }
    .aspect--3x4\@sm {
        padding-bottom: 133.33333%
    }
    .aspect--3x2\@sm {
        padding-bottom: 66.66667%
    }
    .aspect--3x1\@sm {
        padding-bottom: 33.33333%
    }
    .aspect--2x3\@sm {
        padding-bottom: 150%
    }
    .aspect--2x1\@sm {
        padding-bottom: 50%
    }
    .aspect--1x2\@sm {
        padding-bottom: 200%
    }
    .aspect--1x1\@sm {
        padding-bottom: 100%
    }
    .aspect--none\@sm {
        height: auto;
        overflow: visible;
        padding-bottom: 0
    }
    .aspect--none\@sm>.aspect__inner {
        position: static
    }
    .col-1\@sm {
        width: 8.33333%
    }
    .col-2\@sm {
        width: 16.66667%
    }
    .col-3\@sm {
        width: 25%
    }
    .col-4\@sm {
        width: 33.33333%
    }
    .col-5\@sm {
        width: 41.66667%
    }
    .col-6\@sm {
        width: 50%
    }
    .col-7\@sm {
        width: 58.33333%
    }
    .col-8\@sm {
        width: 66.66667%
    }
    .col-9\@sm {
        width: 75%
    }
    .col-10\@sm {
        width: 83.33333%
    }
    .col-11\@sm {
        width: 91.66667%
    }
    .col-12\@sm {
        width: 100%
    }
    .col-pull-0\@sm {
        right: auto
    }
    .col-pull-1\@sm {
        right: 8.33333%
    }
    .col-pull-2\@sm {
        right: 16.66667%
    }
    .col-pull-3\@sm {
        right: 25%
    }
    .col-pull-4\@sm {
        right: 33.33333%
    }
    .col-pull-5\@sm {
        right: 41.66667%
    }
    .col-pull-6\@sm {
        right: 50%
    }
    .col-pull-7\@sm {
        right: 58.33333%
    }
    .col-pull-8\@sm {
        right: 66.66667%
    }
    .col-pull-9\@sm {
        right: 75%
    }
    .col-pull-10\@sm {
        right: 83.33333%
    }
    .col-pull-11\@sm {
        right: 91.66667%
    }
    .col-pull-12\@sm {
        right: 100%
    }
    .col-push-0\@sm {
        left: auto
    }
    .col-push-1\@sm {
        left: 8.33333%
    }
    .col-push-2\@sm {
        left: 16.66667%
    }
    .col-push-3\@sm {
        left: 25%
    }
    .col-push-4\@sm {
        left: 33.33333%
    }
    .col-push-5\@sm {
        left: 41.66667%
    }
    .col-push-6\@sm {
        left: 50%
    }
    .col-push-7\@sm {
        left: 58.33333%
    }
    .col-push-8\@sm {
        left: 66.66667%
    }
    .col-push-9\@sm {
        left: 75%
    }
    .col-push-10\@sm {
        left: 83.33333%
    }
    .col-push-11\@sm {
        left: 91.66667%
    }
    .col-push-12\@sm {
        left: 100%
    }
    .col-offset-0\@sm {
        margin-left: 0
    }
    .col-offset-1\@sm {
        margin-left: 8.33333%
    }
    .col-offset-2\@sm {
        margin-left: 16.66667%
    }
    .col-offset-3\@sm {
        margin-left: 25%
    }
    .col-offset-4\@sm {
        margin-left: 33.33333%
    }
    .col-offset-5\@sm {
        margin-left: 41.66667%
    }
    .col-offset-6\@sm {
        margin-left: 50%
    }
    .col-offset-7\@sm {
        margin-left: 58.33333%
    }
    .col-offset-8\@sm {
        margin-left: 66.66667%
    }
    .col-offset-9\@sm {
        margin-left: 75%
    }
    .col-offset-10\@sm {
        margin-left: 83.33333%
    }
    .col-offset-11\@sm {
        margin-left: 91.66667%
    }
    .col-offset-12\@sm {
        margin-left: 100%
    }
    .container {
        padding-left: 7%;
        padding-right: 7%
    }
    .row {
        max-width: 1200px
    }
}

@media screen and (min-width:1024px) {
    .col-1\@md,
    .col-2\@md,
    .col-3\@md,
    .col-4\@md,
    .col-5\@md,
    .col-6\@md,
    .col-7\@md,
    .col-8\@md,
    .col-9\@md,
    .col-10\@md,
    .col-11\@md,
    .col-12\@md {
        float: left
    }
    .aspect--16x9\@md {
        padding-bottom: 56.25%
    }
    .aspect--9x16\@md {
        padding-bottom: 177.77778%
    }
    .aspect--4x3\@md {
        padding-bottom: 75%
    }
    .aspect--3x4\@md {
        padding-bottom: 133.33333%
    }
    .aspect--3x2\@md {
        padding-bottom: 66.66667%
    }
    .aspect--3x1\@md {
        padding-bottom: 33.33333%
    }
    .aspect--2x3\@md {
        padding-bottom: 150%
    }
    .aspect--2x1\@md {
        padding-bottom: 50%
    }
    .aspect--1x2\@md {
        padding-bottom: 200%
    }
    .aspect--1x1\@md {
        padding-bottom: 100%
    }
    .aspect--none\@md {
        height: auto;
        overflow: visible;
        padding-bottom: 0
    }
    .aspect--none\@md>.aspect__inner {
        position: static
    }
    .col-1\@md {
        width: 8.33333%
    }
    .col-2\@md {
        width: 16.66667%
    }
    .col-3\@md {
        width: 25%
    }
    .col-4\@md {
        width: 33.33333%
    }
    .col-5\@md {
        width: 41.66667%
    }
    .col-6\@md {
        width: 50%
    }
    .col-7\@md {
        width: 58.33333%
    }
    .col-8\@md {
        width: 66.66667%
    }
    .col-9\@md {
        width: 75%
    }
    .col-10\@md {
        width: 83.33333%
    }
    .col-11\@md {
        width: 91.66667%
    }
    .col-12\@md {
        width: 100%
    }
    .col-pull-0\@md {
        right: auto
    }
    .col-pull-1\@md {
        right: 8.33333%
    }
    .col-pull-2\@md {
        right: 16.66667%
    }
    .col-pull-3\@md {
        right: 25%
    }
    .col-pull-4\@md {
        right: 33.33333%
    }
    .col-pull-5\@md {
        right: 41.66667%
    }
    .col-pull-6\@md {
        right: 50%
    }
    .col-pull-7\@md {
        right: 58.33333%
    }
    .col-pull-8\@md {
        right: 66.66667%
    }
    .col-pull-9\@md {
        right: 75%
    }
    .col-pull-10\@md {
        right: 83.33333%
    }
    .col-pull-11\@md {
        right: 91.66667%
    }
    .col-pull-12\@md {
        right: 100%
    }
    .col-push-0\@md {
        left: auto
    }
    .col-push-1\@md {
        left: 8.33333%
    }
    .col-push-2\@md {
        left: 16.66667%
    }
    .col-push-3\@md {
        left: 25%
    }
    .col-push-4\@md {
        left: 33.33333%
    }
    .col-push-5\@md {
        left: 41.66667%
    }
    .col-push-6\@md {
        left: 50%
    }
    .col-push-7\@md {
        left: 58.33333%
    }
    .col-push-8\@md {
        left: 66.66667%
    }
    .col-push-9\@md {
        left: 75%
    }
    .col-push-10\@md {
        left: 83.33333%
    }
    .col-push-11\@md {
        left: 91.66667%
    }
    .col-push-12\@md {
        left: 100%
    }
    .col-offset-0\@md {
        margin-left: 0
    }
    .col-offset-1\@md {
        margin-left: 8.33333%
    }
    .col-offset-2\@md {
        margin-left: 16.66667%
    }
    .col-offset-3\@md {
        margin-left: 25%
    }
    .col-offset-4\@md {
        margin-left: 33.33333%
    }
    .col-offset-5\@md {
        margin-left: 41.66667%
    }
    .col-offset-6\@md {
        margin-left: 50%
    }
    .col-offset-7\@md {
        margin-left: 58.33333%
    }
    .col-offset-8\@md {
        margin-left: 66.66667%
    }
    .col-offset-9\@md {
        margin-left: 75%
    }
    .col-offset-10\@md {
        margin-left: 83.33333%
    }
    .col-offset-11\@md {
        margin-left: 91.66667%
    }
    .col-offset-12\@md {
        margin-left: 100%
    }

    .row {
        max-width: 1600px;
    }
}

.code-block {
    margin: .5em calc(-3.5vw - 8px);
    overflow: visible;
    position: relative
}

.code-block pre {
    margin: 0;
    min-height: 56px;
    padding: 1em calc(3.5vw + 8px);
    position: relative;
    z-index: 1
}

@media screen and (min-width:768px) {
    .code-block {
        margin-left: calc(-7vw - 8px);
        margin-right: calc(-7vw - 8px)
    }
    .code-block pre {
        padding-left: calc(7vw + 8px);
        padding-right: calc(7vw + 8px);
        position: relative;
        z-index: 1
    }
}

@media (min-width:1395px) {
    .code-block {
        margin-left: calc(-50vw + 592px);
        margin-right: calc(-50vw + 592px)
    }
    .code-block pre {
        padding-left: calc(50vw - 592px);
        padding-right: calc(50vw - 592px)
    }
}

.textfield {
    -webkit-appearance: none;
    border: 2px solid #95a5a6;
    border-radius: 4px;
    box-sizing: border-box;
    color: #34495e;
    font-size: 1rem;
    padding: .5em;
    transition: .15s;
    width: 100%
}

.textfield::-webkit-input-placeholder {
    color: #95a5a6;
    transition: .15s
}

.textfield:-ms-input-placeholder {
    color: #95a5a6;
    transition: .15s
}

.textfield::placeholder {
    color: #95a5a6;
    transition: .15s
}

.textfield:hover {
    border-color: #5d6d77;
    color: #5d6d77;
    outline-width: 0
}

.textfield:hover::-webkit-input-placeholder {
    color: #5d6d77
}

.textfield:hover:-ms-input-placeholder {
    color: #5d6d77
}

.textfield:hover::placeholder {
    color: #5d6d77
}

.textfield:focus {
    border-color: #34495e;
    outline-width: 0
}

.textfield:focus::-webkit-input-placeholder {
    color: #34495e
}

.textfield:focus:-ms-input-placeholder {
    color: #34495e
}

.textfield:focus::placeholder {
    color: #34495e
}

.textfield--large {
    font-size: 1.125em
}

.text-center {
    text-align: center
}

.ib {
    display: inline-block
}

@media screen and (max-width:767px) {
    .hidden\@xs {
        display: none
    }
}

@media screen and (min-width:768px) {
    .visible\@xs {
        display: none
    }
}

.hidden {
    display: none!important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.clearfix,
.clearfix:after {
    clear: both;
    content: " ";
    display: table
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.full-width {
    width: 100%
}

.full-height {
    height: 100%
}

.hide-text {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none
}

.table-center-wrap {
    display: table;
    table-layout: fixed
}

.table-center {
    display: table-cell;
    vertical-align: middle
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.flex-col-1,
.flex-col-2,
.flex-col-3,
.flex-col-4,
.flex-col-6 {
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

.flex-col-1-sp {
  flex: 0 0 8.333%;
  max-width: 8.333%;
  width: 8.333%;
}

.flex-col-12-xs {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

@include for-phone-landscape-up {
  .flex-col-6-sm {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
}

@include for-tablet-portrait-up {
  .flex-col-4-md {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    width: 33.333%;
  }
}

@include for-desktop-up {
  .flex-col-3-lg {
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
  }
}

@include for-big-desktop-up {
  .flex-col-2-xl {
      flex: 0 0 16.667%;
      max-width: 16.667%;
      width: 16.667%;
  }
}




/* ---------- */

/* Shuffle/demo specific styles */
.sizer {
  position: absolute;
  visibility: hidden;
  width: 8.3333%;
}

.box {
  margin-top: 16px;
}

.box__inner {
  height: 150px;
  background-color: mediumseagreen;
  border: 1px solid black;
}

/* HERE'S THE FIX. CHANGE YOUR GRID CLASS NAMES AS NEEDED. */
/* Using position:absolute inside a flex container removes
the element as a flex child, so the `flex` properties don't apply. The width
is explicitly set here so that the sizer column maintains the width we
want, but also doesn't actually show up in the grid. */
.flex-col-1 {
  width: 8.333%;
}

.flex-col-3 {
  width: 25%;
}

.flex-col-6 {
  width: 50%;
}