.tour-title {
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.63);
  font-weight: 100;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: lowercase;
}
.tour {
  display: flex;
  flex-direction: column;
	justify-content: center;
	background: $color_aqua;
	background: -webkit-linear-gradient(to top, $color_aqua, $color_sky);
	background: linear-gradient(to top, $color_aqua, $color_sky);
  min-height: 100vh;
	height: 100%;
  padding: 60px 0 0 0;

  &__slide {
    font-family: 'Alegreya Sans SC', sans-serif;
    flex: 1 0 auto;
    position: relative;
    border: 1px solid white;
    width: 80vw;
    max-width: 675px;
    margin: 5px auto;
    border-radius: 7px;
    text-align: center;
    color: white;
  }

  &__slide-content {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include for-tablet-portrait-up {
      flex-direction: row;
    }
  }

  &__slide-header {
    position: relative;
    flex: 0 0 auto;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 1.6em;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
    @include for-phone-portrait-up {
      font-size: 2em;
    }
    @include for-phone-landscape-up {
      font-size: 2.5em;
    }
  }

  &__slide-text {
    flex: 1 1 auto;
    font-size: 18px;
    @include for-phone-landscape-up {
      font-size: 23px;
    }
    p {
      padding: 15px;
    }
  }
  &__image {
    flex: 1 0 auto;
    margin: 0 auto;
    max-height: 100%;
    height: 100%;

    img {
      max-width: 100%;
    }
  }
  &__controls {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    @include for-phone-landscape-up {
      font-size: 16px;
    }
    @include for-tablet-portrait-up {
      font-size: 18px;
    }
  }
  &__dot, &__dot-active, {
    cursor: pointer;
    margin: 0 10px;
    padding: 5px;
    color: grey;

    @include for-phone-landscape-up {
      margin: 0 15px;
    }

    &-active {
      color: white;
    }
  }
  &__chevron-left{
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: -30px;
  }
  &__chevron-right {
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: -30px;
  }
}
.faq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: $color_sky;
  background: -webkit-linear-gradient(to top, $color_sky, $color_aqua);
  background: linear-gradient(to top, $color_sky, $color_aqua);
  min-height: 100vh;
  height: 100%;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;

  &__header {
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.6em;
    padding: 20px 10px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
    @include for-phone-portrait-up {
      font-size: 2em;
    }
    @include for-phone-landscape-up {
      font-size: 2.5em;
    }
  }

  &__question {
    font-style: italic;
    font-size: 26px;
    cursor: pointer;
    text-decoration: underline;
  }

  &__answer {
    height: 0;
    display: none;
    color: rgba(75,75,75,1);
    font-size: 20px;
    padding: 0 15px;
  }
  &__answer-expanded {
    height: auto;
    display: block;
  }
}
