.tour-title {
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.63);
  font-weight: 100;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: lowercase;
}
.tour {
  display: flex;
  flex-direction: column;
	background: $color_aqua;
	background: -webkit-linear-gradient(to top, $color_aqua, $color_sky);
	background: linear-gradient(to top, $color_aqua, $color_sky);
  min-height: 100vh;
	height: 100%;
  padding: 60px 0 0 0;

  &__slide {
    font-family: 'Alegreya Sans', sans-serif;
    flex: 1 0 auto;
    position: relative;
    border: 1px solid white;
    background: rgba(255,255,255,.8);
    color: $color_gray_text;
    width: 100%;
    margin: 5px auto;

    text-align: center;
    color: white;

    @include profile-card-breakpoint {
      width: 80vw;
      max-width: 675px;
      border-radius: 7px;
    }
  }

  &__slide-content {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include for-tablet-portrait-up {
      flex-direction: row;
    }
  }

  &__slide-header, &__slide-footer {
    position: relative;
    flex: 0 0 auto;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 1.8em;
    color: $color_gray_text;
    font-weight: 300;
    padding: 20px 0px 10px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
    @include for-phone-portrait-up {
      font-size: 2em;
    }
    @include for-phone-landscape-up {
      font-size: 2.5em;
    }
  }

  &__slide-footer {
    padding-top: 0;
  }

  &__slide-text {
    flex: 1 1 auto;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .5px;
    color: $color_gray_text;

    & strong {
      letter-spacing: 2px;
      font-weight: 700;
    }

    @include for-phone-landscape-up {
      font-size: 23px;
      font-weight: 100;
    }
    p {
      padding: 15px;
      text-align: left;
      line-height: 1.5em;
    }
  }
  &__image {
    flex: 1 0 auto;
    margin: 0 auto;
    max-height: 100%;
    height: 100%;
    padding: 10px;

    img {
      max-width: 100%;
      border-radius: 6px;
    }
  }
  &__controls {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 10px 0;

    @include for-phone-landscape-up {
      font-size: 16px;
    }
    @include for-tablet-portrait-up {
      font-size: 18px;
    }
  }
  &__dot, &__dot-active, {
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 8px;
    color: $color_sky;
    opacity: .4;
    border-radius: 100%;

    &:last-child {
      & i {

      }
    }


    & i {
      font-size: 16px;
    }

    @include for-phone-landscape-up {
      margin: 0 15px;
    }

    &-active {
      color: white;
      border-radius: 100%;
      opacity: 1;
    }
  }
  &__chevron-left{
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    @include profile-card-breakpoint {
      top: 50%;
      left: -45px;
    }
  }
  &__chevron-right {
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    @include profile-card-breakpoint {
      top: 50%;
      right: -45px;
    }
  }
}

.tour__slide-footer .tour__chevron-left {
  top: 3px;
  left: 10px;
}
.tour__slide-footer .tour__chevron-right {
  top: 3px;
  right: 10px;
}


.faq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  height: 100%;
  color: white;
  font-family: 'Alegreya Sans', sans-serif;

  &__header {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.6em;
    padding: 20px 10px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
    @include for-phone-portrait-up {
      font-size: 2em;
      font-weight: 100;
    }
    @include for-phone-landscape-up {
      font-size: 2.5em;
    }
  }

  &__content {
    padding: 20px;
  }

  &__row {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // padding: 0 20px;
  }

  &__card {
    background: rgba(255,255,255,.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.6);
    margin: 20px auto;
    max-width: 675px;
  }

  &__question {
    font-size: 26px;
    color: $color_gray_text;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted white;
    display: inline-block;

    &:hover {
      color: $color_sky;
      border-bottom: 1px dotted $color_sky;
    }
  }

  &__answer {
    padding: 15px 0 0 0;
    color: $color_gray_text;
    font-size: 20px;
    overflow: hidden;
    height: 0;
    transition: height 400ms ease-out;
  }

  &__answer-expanded {
    padding: 15px 0 0 0;
    color: $color_gray_text;
    font-size: 20px;
    transition: height 400ms ease-in;
    & a {
      color: $color_sky;
      text-decoration: none;
      border-bottom: 1px dotted white;

      &:hover {
      color: $color_aqua;
      border-bottom: 1px dotted $color_sky;
    }

    }
  }
}
