.user-admin {
	display:flex;
}

.user-posts {
	display:flex;
	flex-direction: column;
	justify-content: center;

	&__wrap {

	}

	&__table {
		background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.4);
		padding: 20px;
	}
}