.validate {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 25px auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 2px;
  }
  &__quote-wrap {
    color: $color_aqua;
    align-self: center;
    min-width: 15em;
    margin: 0 10px;
    white-space: pre;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255,255,255,.85);
  }

  &__quote {
    font-size: 14px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 100;
    padding: 0 20px 0 0;

    @include for-phone-portrait-up {
      font-size: 16px;
    }
  }

  &__quote-author {
    text-align: right;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 2px;
    padding-top: 8px;

    & a {
      color: $color_sky;
      text-decoration: none;
      border-bottom: 1px dotted rgba(255,255,255,.4);

      &:hover {
        color: $color_aqua;
        border-bottom: 1px dotted $color_aqua_lighter;
        transition: all 300ms ease-in-out;
      }
    }

  }

  &__text-header {
    text-align: center;
    color: white;
    margin: 15px 40px;
    font-size: 36px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;

    @include for-phone-portrait-up {
      margin: 40px;
    }
  }
  &__text {
    color: white;
    line-height: 1.5em;
    margin: 0 auto;
    font-size: 1.4em;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 100;
    width: 100%;
    max-width: 600px;
    text-align: center;

    & a {
      color: rgba(255,255,255,.8);
      text-decoration: none;
      border-bottom: 1px dotted rgba(255,255,255,.8);

      &:hover {
        color: rgba(255,255,255,1);
        border-bottom: 1px dotted rgba(255,255,255,1);
        transition: all 300ms ease-in-out;
      }
    }

    & p {
      margin-bottom: .8em;
    }

    @include for-phone-portrait-up {
          font-size: 1.8em;
    }
  }
}
