$color_gray_text: #545454;
$color_gray_lighter: lighten($color_gray_text,20%);
$color_gray_border: #d6d6d6;
$color_gray_bkgrd: #e7e7e7;
$color_gray_darker: #2B2B2B;
$color_gray_medium: #ccc;

$color_light-blue: #c2e0ff;
$color_lighter-blue: #ebf5ff;
$color_aqua: #22c1c3;
$color_aqua_darker: darken($color_aqua,35%);
$color_sky: #4981C2;
$color_sky_darker: darken($color_sky,35%);
$color_purple_sky: #6B559D;
$color_purple_sky_dark: #151741;

$color_error_text: #a94442;
$color_error_bkg: #f2dede;
$color_success_text: #3c763d;
$color_success_bkg: #dff0d8;

$color_focus_ring: #7AACFE;

$transition_card: all 800ms linear;
