.view-profile {
    background: url(./img/splash_pfl.svg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;

    }

  .view-preview {
    width: 100%;
    max-width: 400px;
    margin: auto;
    font-family: 'Alegreya Sans', sans-serif;
    color: #2B2B2B;
    background: rgba(255,255,255,.75);
    border-radius: 6px;

    &__image-wrap {
      width: 100%;
      margin-top: 20px;
      text-align: center;
      padding: 20px 20px 0 20px;
      }

    &__image {
      border-radius: 100%;
      width: 50%;
      height: auto;
      margin: 0 auto;
      border: 2px solid rgba(255,255,255,.9);
    }

    &__icon--avatar {
      height: 100%;
      width: auto;
      color: rgba(255,255,255,.4);
    }

    &__text-wrap {
      padding: 25px 30px 10px 30px;
    }

    &__name {
      font-weight: 700;
      text-align: center;
      font-size: 36px;
    }

    &__username {
      font-weight: 300;
      text-align: center;
      font-size: 30px;
    }

    &__location-wrap {
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }

    &__icon--location {
        color: #757575;
        padding: 2px 12px 0 0;
        font-size: 24px;
    }

    &__location {
      font-weight: 100;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      font-size: 24px;
    }

    &__card-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background: white;
    }

    &__card-nav-item {
      display: inline-block;
      cursor: pointer;
      padding: 10px;
      border-bottom: 2px solid white;
      color: #545454;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      font-size: 18px;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }

      &:hover, &--active {
        color: #2B2B2B;
        border-bottom: 2px solid #545454;
        font-weight: 400;
      }
    }

    &__card-nav-item-text {
        padding-left: 6px;
        font-weight: 100;
        font-family: inherit;
        font-size: inherit;
        text-transform: inherit;


        &:hover {
          color: inherit;
          font-weight: inherit;
        }
      }


    &__card-body {
      padding: 10px 20px 20px 20px;
    }

    &__card-footer {
      display: flex;
      justify-content: flex-start;
      padding: 10px;
      font-size: 24px;
      color: #545454;
    }

  }

.tag-value {
  color: #545454;
  display: inline-block;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 1em;
  line-height: 1.4;
  background-color: #ebf5ff;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 2px;
  border: 1px solid #545454;
  border: 1px solid rgba(84, 84, 84, 0.24);
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top;


  &__label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
  }

  &__wrapper {
    padding: 0;
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
  }
}
