.view-profile {
    background: url(./img/splash.svg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;

    @include for-desktop-up {
      background: url(./img/splash_wide.svg) no-repeat top center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100vh;
    }

    }

  .view-preview {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #2B2B2B;
    background: rgba(255,255,255,.3);
    border-radius: 6px;

    &__image-wrap {
      width: 100%;
      margin-top: 20px;
      text-align: center;
      }

    &__image {
      border-radius: 100%;
      width: 50%;
      height: auto;
      margin: 0 auto;
      border: 2px solid rgba(255,255,255,.5);
    }

    &__icon--avatar {
      height: 100%;
      width: auto;
      color: rgba(255,255,255,.4);
    }

    &__text-wrap {
      padding: 10px;
    }

    &__name {
      font-weight: 700;
      text-align: center;
      font-size: 36px;
      padding-top: 10px;
    }

    &__username {
      font-weight: 300;
      text-align: center;
      font-size: 30px;
    }

    &__location-wrap {
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }

    &__icon--location {
        color: #545454;
        padding: 2px 12px 0 0;
        font-size: 24px;
    }

    &__location {
      font-weight: 100;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      font-size: 24px;
    }

  &__text {
    font-size: 1.2em;
    font-weight: 100;
    padding-left: 3px;

    @include for-tablet-landscape-up {
      font-size: 1.4em;
      margin: 10px 0;
    }

    &--bold {
      font-weight: 400;
    }
  }

  &__text--body {
    padding: 10px 0 30px 0;
    white-space: pre-wrap;
    font-size: 1.5em;
  }

  &__title {
    font-weight: 400;
    font-size: 1.8em;
    padding: 15px 0;
  }

  &__skill-list {
    list-style-type: none;
    display: inline;
  }

  &__skill-item {
    display: inline-block;
    padding: 0 4px 0 0;
  }
  }
