.view-profile {
    // background: url(./img/splash_pfl.svg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
    height: 100%;
    display: flex;
    justify-content: center;
    min-width: 50%;
    margin: auto;
    padding-top: 60px;

    @include for-tablet-landscape-up {
    min-height: 100vh;
  }

    }

  .full {
    width: 100%;
    max-width: 360px;
    margin: auto;
    font-family: 'Alegreya Sans', sans-serif;
    color: $color_gray_darker;
    position:relative;
    z-index:1;
    perspective: 600px;
    transition: $transition_card;

    @include profile-card-breakpoint {
      padding-top: 0;
    }

    &__edit {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 12px 15px;
      border-radius: 30px;
      margin: 10px;
      background: $color_aqua;
      border: none;
      color: rgba(255,255,255,.8);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

      @include profile-card-breakpoint {
        top: 0;
        bottom: auto;
        margin: 20px;
      }

      &:hover, &:focus, &:active {
        background: $color_aqua;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transition: all 300ms ease-in-out;
        border: none;
        color: rgba(255,255,255,1);
      }

    }

    &__icon--edit {
      color: inherit;

      &:hover, &:focus, &:active {
        color: inherit;
      }

    }

    &__top-wrap {
      display: flex;
      @include profile-card-breakpoint {
        display: block;
      }
    }

    &__image-wrap {
      width: 100%;
      padding: 10px;
      flex-basis: 40%;
      @include profile-card-breakpoint {
        margin-top: 20px;
        text-align: center;
        padding: 20px 20px 0 20px;
      }
      }

    &__image-aspect{
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      @include profile-card-breakpoint {
        width: 50%;
        padding-bottom: 50%;
        margin: 0 auto;
        }
    }

    &__image-crop {
      width: 100%;
      border-radius: 100%;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 2px solid rgba(255,255,255,.9);
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
    }

    &__image {
      min-width: 100%;
      min-height: 100%;
      height: auto;
      margin: 0 auto;

    }

    &__icon--avatar {
      height: 100%;
      width: auto;
      color: rgba(255,255,255,.4);
    }

    &__text-wrap {
      padding: 20px 0 5px 0;
      @include profile-card-breakpoint {
        padding: 15px 30px 10px 30px;
      }
    }

    &__name {
      font-weight: 700;
      font-size: 20px;
      color: $color_gray_text;
      @include profile-card-breakpoint {
        text-align: center;
        font-size: 30px;
      }
    }

    &__username {
      font-weight: 700;
      font-size: 18px;
      color: $color_gray_lighter;
      @include profile-card-breakpoint {
        font-weight: 400;
        text-align: center;
        font-size: 22px;
      }
    }

    &__location-wrap {
      display: flex;
      justify-content: flex-start;
      padding: 10px 10px 10px 0;
      @include profile-card-breakpoint {
        justify-content: center;
        padding: 10px;
      }
    }

    &__icon--location {
        color: $color_gray_lighter;
        padding: 4px 6px 0 0;
        font-size: 12px;
        @include profile-card-breakpoint {
          font-size: 18px;
          padding: 2px 9px 0 0;
        }
    }

    &__location {
      font-weight: 100;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      font-size: 16px;
      @include profile-card-breakpoint {
        font-size: 18px;
      }
    }

    &__card-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background: white;
      /* transition: $transition_card; */
    }

    &__nav-item {
      display: inline-block;
      cursor: pointer;
      padding: 10px;
      border-bottom: 2px solid white;
      color: $color_gray_text;
      font-weight: 100;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      font-size: 18px;
      /* transition: $transition_card; */

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }

      &:hover, &--active {
        color: $color_gray_darker;
        border-bottom: 2px solid $color_gray_text;
        font-weight: 400;
      }

      &--flip {
        align-self: center;

        &:hover, &--active {
          color: $color_gray_darker;
          }
      }
    }

    &__icon--nav {
      color: $color_gray_lighter;
      transition: all 300ms ease-in-out;

      &:hover, &--active {
        color: $color_gray_text;
        transition: all 300ms ease-in-out;
      }
    }

    &__nav-item-text {
        padding-left: 6px;
        font-family: inherit;
        font-size: inherit;
        font-weight: 300;
        text-transform: inherit;
        color: $color_gray_lighter;
        /* transition: $transition_card; */


        &:hover, &--active {
          padding-left: 6px;
          color: $color_gray_darker;
          font-weight: 300;
          transition: all 300ms ease-in-out;
        }
      }


    &__card-body {
      padding: 10px 10px 2px 10px;
      @include profile-card-breakpoint {
        padding: 20px 20px 12px 20px;
      }
    }

    &__card-footer {
      display: flex;
      justify-content: center;
      padding: 10px;
      font-size: 20px;
      width:100%;
      /* transition: $transition_card; */

      &--back {
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        width:100%;
      }
    }

    &__icon--sm-wrap {
      padding: 0 10px;
      /* transition: $transition_card; */

      & a {
          color: $color_gray_darker;
          opacity: .6;

          &:hover, &:focus, &:active {
            opacity: 1;
            transition: opacity 300ms ease-in-out;
          }
      }
    }

    &__about-wrap {
      padding: 0 40px 40px 40px;
    }

    &__icon--flip {
      align-self: center;
      padding: 10px;
      opacity: .6;
      border-radius: 40px;

      &:hover, &:focus, &:active {
        opacity: 1;
        transition: opacity 300ms ease-in-out;
        padding: 10px;
        border-radius: 40px;
      }
    }

  }

  .thumb {
    width: 100%;
    max-width: 240px;
    margin: auto;
    font-family: 'Alegreya Sans', sans-serif;
    color: $color_gray_darker;
    position:relative;
    z-index:1;
    transition: $transition_card;

    &__expand, &__compress {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 12px 15px;
      border-radius: 30px;
      margin: 10px;
      background: $color_aqua;
      border: none;
      color: rgba(255,255,255,.8);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

      &:hover, &:focus, &:active {
        background: $color_aqua;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transition: all 300ms ease-in-out;
        border: none;
        color: rgba(255,255,255,1);
      }
    }

    &__compress {
      top: 0;
      bottom: inherit;
    }

    &__icon--expand, &__icon--compress {
        color: inherit;

      &:hover, &:focus, &:active {
        color: rgba(255,255,255,1);
      }

    }

    &__top-wrap {
      display: flex;
      /* transition: $transition_card; */
    }

    &__image-wrap {
      width: 100%;
      padding: 10px;
      flex-basis: 40%;
      /* transition: $transition_card; */
      }

    &__image {
      border-radius: 100%;
      width: 100%;
      height: auto;
      margin: 0 auto;
      border: 2px solid rgba(255,255,255,.9);
      /* transition: $transition_card; */
    }

    &__icon--avatar {
      height: 100%;
      width: auto;
      color: rgba(255,255,255,.4);
      /* transition: $transition_card; */
    }

    &__text-wrap {
      padding: 20px 0 5px 0;
      /* transition: $transition_card; */
    }

    &__name {
      font-weight: 700;
      font-size: 20px;
      /* transition: $transition_card; */
    }

    &__username {
      font-weight: 400;
      font-size: 16px;
      /* transition: $transition_card; */
    }

    &__location-wrap {
      display: flex;
      justify-content: flex-start;
      padding: 10px 10px 10px 0;
      /* transition: $transition_card; */
    }

    &__icon--location {
        color: $color_gray_lighter;
        padding: 2px 9px 0 0;
        font-size: 12px;
        /* transition: $transition_card; */
    }

    &__location {
      font-weight: 100;
      font-family: 'Alegreya Sans SC', sans-serif;
      text-transform: lowercase;
      font-size: 12px;
      /* transition: $transition_card; */
    }

      &--flip {
        align-self: center;

        &:hover, &--active {
          color: $color_gray_darker;
          }
      }


    &__card-body {
      padding: 10px;
      background: rgba(255,255,255,.6);
      /* transition: $transition_card; */
    }

}

#back .full__name, #back .full__username {
    text-align: center;
    padding: 0 10px;
  }

.tag-value {
  color: $color_gray_text;
  display: inline-block;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 1.4;
  background-color: $color_lighter-blue;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 2px;
  border: 1px solid $color_gray_text;
  border: 1px solid rgba(84, 84, 84, 0.24);
  margin: 0 8px 8px 0;
  vertical-align: top;

  &--thumb{
    font-size: .8em;
    line-height: 1.2em;
    margin: 0 4px 4px 0;
  }


  &__label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;

    &--thumb {
      padding: 0 3px;
    }
  }

  &__wrapper {
    padding: 0;
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
  }
}

.thumb .tag-value {
  color: $color_gray_text;
  display: inline-block;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  font-size: .8em;
  background-color: $color_lighter-blue;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 2px;
  border: 1px solid $color_gray_text;
  border: 1px solid rgba(84, 84, 84, 0.24);
  margin: 0 6px 6px 0;
  vertical-align: top;
  transition: $transition_card;


  &__label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 1px 3px;
    display: inline-block;
    vertical-align: middle;
    transition: $transition_card;
  }

  &__wrapper {
    padding: 0;
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
  }
}

.front {
  // transition: opacity 1s ease-in, visibility .75s linear;
  transform: rotateY(0deg);
  overflow:hidden;
  z-index:1;
}

.side {
  border-radius:10px;
  height:100%;
  width:100vw;
  transform-style:preserve-3d;
  backface-visibility:hidden !important;
  -webkit-backface-visibility:hidden !important;
  -moz-backface-visibility:hidden !important;
  background: rgba(255,255,255,.9);
  border-radius: 0;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.4);
  transition: .5s ease-in-out;
  position: relative;

  @include profile-card-breakpoint {
    width:100%;
    border-radius: 10px;
    background: rgba(255,255,255,.75);
  }
}

.back {
  transform:rotateY(180deg);
  z-index:2;
  line-height:1.5;
  text-align:justify;
  text-justify: inter-word;
  position: absolute;
  top:0;
  left:0;
  // overflow-y: auto;
}

#front.flip  {
    transform: rotateY(180deg);
    transition:.5s ease-in-out;
  }
#back.flip  {
    transform: rotateY(360deg);
    transition:.5s ease-in-out;
  }

.react-autosuggest__suggestions-container--open {
  max-height: 100px;
  overflow-y: auto;
}
// .react-autosuggest__container,
// .react-autosuggest__input
// .react-autosuggest__suggestions-container,
// .react-autosuggest__suggestions-list
// {
//   // break-inside: avoid;
//   // -webkit-column-break-inside: avoid;
//   // page-break-inside: avoid;
//   // overflow: hidden;
//   // display:inline-block;

// }

